{% extends "base.html" %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="update-vmp-attributes.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

    <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">
                Update VMP (Verapamil 160mg tablets)
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
      Update summary
    </h1>

    <!--Codes-->
    <section class="nhsuk-u-padding-bottom-4" id="snomed-section">
      <h2 class="nhsuk-heading-l">Codes</h2>
      <div class="nhsuk-table-responsive">
        <table id="codes-table" class="nhsuk-table ">
          <caption class="nhsuk-u-visually-hidden">Summary Details</caption>

          <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">

            <th role="columnheader" class="columnheader-sticky" scope="col"
                id="code-table--code-header">Attributes
            </th>
            <th role="columnheader" class="columnheader-sticky" scope="col"
                id="code-table--clinical-term-header" >Previous value
            </th>
            <th role="columnheader" class="columnheader-sticky start-end-date-column"
                scope="col" id="attribute-table--start-date-header2">
              New value
            </th>
          </tr>
          </thead>
          <tbody class="nhsuk-table__body">


          <tr class="nhsuk-table__row temporal-current">

            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Attribute </span>
              <span id="code-table--PPA Code-code-type-value-current">Invalid</span>
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Presvious Value </span>
              <span id="code-table--PPA Code-description-value-current"
                    class="js-copy-to-clipboard"></span>
            </td>
            <td class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">New Value </span>
              <span id="code-table--PPA">Invalid</span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>


    <div class="nhsuk-form-group">
      <a class="nhsuk-button" href="view-vmp.html">Submit</a>
    </div>
  </div>
</div>
{% endblock %}