{% extends "base.html" %}
{% block content %}

<div class="nhsuk-grid-row">
  <div id="content-pane" class="side-tree-view">

    <div>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="../index.html">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24" aria-hidden="true">
            <path
                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Leave prototype</a>
      </div>

      <h1 style="float: left;" class="nhsuk-heading-xl" id="pageHeading">
        <span>Verapamil 160mg tablets</span>
      </h1>

      <div class="nhsuk-action-link" style="float: right;">
        <a class="nhsuk-action-link__link" href="update-vmp.html">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Update</span>
        </a>
      </div>
    </div>

    <!--Show History-->
    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p class="nhsuk-u-margin-bottom-5">Currently <span class="nhsuk-u-font-weight-bold">not</span>
        showing history, click here to
        <a id="link--show-history-vmp"
           href=""
           class="nhsuk-link nhsuk-link--no-visited-state" title="External website"> show history</a>
      </p>
    </div>

    <div class="tabs tabbed">
      <div class="tabs-nav">
        <ul class="tabs-list">
          <li id="heading-tab-attributes"><a href="#tab-attributes">View attributes</a></li>
          <li id="heading-tab-summary"><a href="#tab-summary">View summary</a></li>
        </ul>
      </div>

      <div class="tabs-content">

        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-attributes">
          <div class="tabs-panel-inner">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <!--Attributes-->
                <section class="nhsuk-u-padding-bottom-4" id="attributes-section">


                  <h2 class="nhsuk-heading-l">Attribute details</h2>
                  <div class="nhsuk-table-responsive">
                    <table role="table" class="nhsuk-table ">
                      <thead role="rowgroup" class="nhsuk-table__head" id="attributes-table-head">
                      <tr role="row">

                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="attribute-table--name-header">
                          <label id="attribute-table--name-header-span"
                                 for="attribute-table--name-filter-input">
                            Attribute name
                            <svg id="attribute-table--name-header-search-icon"
                                 style="height: 1.1875rem; width: 1.1875rem;"
                                 class="nhsuk-icon nhsuk-icon__search"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 aria-hidden="true" focusable="false">
                              <path
                                      d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                            </svg>
                            <br/>
                          </label>
                          <input id="attribute-table--name-filter-input"
                                 class="attribute-table--name-filter-input-hidden" type="text"/>
                        </th>
                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="attribute-table--description-header">
                          Description
                        </th>
                        <th role="columnheader" class="columnheader-sticky start-end-date-column"
                            scope="col" id="attribute-table--start-date-header">
                          Start date
                        </th>
                        <th role="columnheader" class="columnheader-sticky start-end-date-column"
                            scope="col" id="attribute-table--end-date-header">
                          End date
                        </th>
                      </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">

                      <tr role="row" class="nhsuk-table__row temporal-current">

                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Attribute name </span>
                          <span
                                  id="attribute-table--prescribing-status-attribute-name-value-current">Prescribing Status</span>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span
                                  class="nhsuk-u-visually-hidden">Valid as a prescribable product</span>
                          <span aria-hidden="true"
                                id="attribute-table--prescribing-status-attribute-description-value-current">Valid as a prescribable product</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date</span>
                          <span id="attribute-table--1-attribute-start-date-current">SOT</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date</span>
                          <span id="attribute-table--1-attribute-end-date-current">EOT</span>
                        </td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row temporal-current">

                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Attribute name </span>
                          <span
                                  id="attribute-table--controlled-drug-category-attribute-name-value-current">Controlled Drug Category</span>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span class="nhsuk-u-visually-hidden">No controlled drug status</span>
                          <span aria-hidden="true"
                                id="attribute-table--controlled-drug-category-attribute-description-value-current">No Controlled Drug Status</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date</span>
                          <span id="attribute-table--9-attribute-start-date-current">SOT</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date</span>
                          <span id="attribute-table--9-attribute-end-date-current">EOT</span>
                        </td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row temporal-current">

                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Attribute name </span>
                          <span
                                  id="attribute-table--sugar-free-indicator-attribute-name-value-current">Sugar Free Indicator</span>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span class="nhsuk-u-visually-hidden"></span>
                          <span aria-hidden="true"
                                id="attribute-table--sugar-free-indicator-attribute-description-value-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date</span>
                          <span id="attribute-table--2-attribute-start-date-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date</span>
                          <span id="attribute-table--2-attribute-end-date-current"></span>
                        </td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row temporal-current">

                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Attribute name </span>
                          <span
                                  id="attribute-table--cfc-free-indicator-attribute-name-value-current">CFC Free Indicator</span>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span class="nhsuk-u-visually-hidden"></span>
                          <span aria-hidden="true"
                                id="attribute-table--cfc-free-indicator-attribute-description-value-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date</span>
                          <span id="attribute-table--5-attribute-start-date-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date</span>
                          <span id="attribute-table--5-attribute-end-date-current"></span>
                        </td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row temporal-current">

                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Attribute name </span>
                          <span
                                  id="attribute-table--gluten-free-indicator-attribute-name-value-current">Gluten Free Indicator</span>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span class="nhsuk-u-visually-hidden"></span>
                          <span aria-hidden="true"
                                id="attribute-table--gluten-free-indicator-attribute-description-value-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date</span>
                          <span id="attribute-table--3-attribute-start-date-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date</span>
                          <span id="attribute-table--3-attribute-end-date-current"></span>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                  <script type="text/javascript">
                    //<![CDATA[
                    filterInput = document.getElementById('attribute-table--name-filter-input');
                    filterInput.onkeyup = (e) => {
                      const rows = document.querySelectorAll(
                              'tbody.nhsuk-table__body > tr.nhsuk-table__row');
                      rows.forEach((row) => {
                        const heading = row.querySelector('td:nth-child(2) > span:nth-child(2)');
                        if (heading.textContent.toLowerCase().indexOf(e.target.value) > -1) {
                          row.classList.remove('nhsuk-table__row__filtered');
                        } else {
                          row.classList.add('nhsuk-table__row__filtered');
                        }
                      });
                    }

                    const nameHeader = document.getElementById('attribute-table--name-header-span');
                    nameHeader.addEventListener('click', () => {
                      const visible = filterInput.classList.contains(
                              'attribute-table--name-filter-input-visible');
                      if (visible) {
                        filterInput.classList.remove('attribute-table--name-filter-input-visible')
                        filterInput.classList.add('attribute-table--name-filter-input-hidden')
                      } else {
                        filterInput.classList.add('attribute-table--name-filter-input-visible')
                        filterInput.classList.remove('attribute-table--name-filter-input-hidden')
                      }
                    });
                    //]]>
                  </script>
                </section>
                <!--Codes-->
                <section class="nhsuk-u-padding-bottom-4" id="snomed-section">
                  <h2 class="nhsuk-heading-l">Codes</h2>
                  <div class="nhsuk-table-responsive">
                    <table id="codes-table" class="nhsuk-table ">
                      <caption class="nhsuk-u-visually-hidden">Codes</caption>

                      <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">

                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="code-table--code-header">Code
                        </th>
                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="code-table--clinical-term-header" style="width: 400px;">Description
                        </th>
                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="code-table--start-date-header" style="width: 150px;">Start date
                        </th>
                        <th role="columnheader" class="columnheader-sticky" scope="col"
                            id="code-table--end-date-header" style="width: 150px;">End date
                        </th>
                      </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">

                      <tr class="nhsuk-table__row temporal-current">

                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Code </span>
                          <span id="code-table--VMP ID-code-type-value-current">VMP ID</span>
                        </td>
                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span id="code-table--VMP ID-description-value-current"
                                class="js-copy-to-clipboard">1</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date </span>
                          <span id="code-table--VMP ID-start-date-value-current"></span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date </span>
                          <span id="code-table--VMP ID-end-date-value-current"></span>
                        </td>
                      </tr>

                      <tr class="nhsuk-table__row temporal-current">

                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Code </span>
                          <span id="code-table--PPA Code-code-type-value-current">PPA Code</span>
                        </td>
                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span id="code-table--PPA Code-description-value-current"
                                class="js-copy-to-clipboard">7642108</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date </span>
                          <span id="code-table--PPA Code-start-date-value-current">SOT</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date </span>
                          <span id="code-table--PPA Code-end-date-value-current">EOT</span>
                        </td>
                      </tr>

                      <tr class="nhsuk-table__row temporal-current">

                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Code </span>
                          <span
                                  id="code-table--SNOMED Code-code-type-value-current">SNOMED Code</span>
                        </td>
                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span id="code-table--SNOMED Code-description-value-current"
                                class="js-copy-to-clipboard">318248001</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date </span>
                          <span id="code-table--SNOMED Code-start-date-value-current">SOT</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date </span>
                          <span id="code-table--SNOMED Code-end-date-value-current">EOT</span>
                        </td>
                      </tr>

                      <tr class="nhsuk-table__row temporal-current">

                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Code </span>
                          <span id="code-table--Presentation Code (BNF)-code-type-value-current">Presentation Code (BNF)</span>
                        </td>
                        <td class="nhsuk-table__cell">
                          <span class="nhsuk-table-responsive__heading">Description </span>
                          <span id="code-table--Presentation Code (BNF)-description-value-current"
                                class="js-copy-to-clipboard">0206020T0AAAGAG</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">Start date </span>
                          <span id="code-table--Presentation Code (BNF)-start-date-value-current">01-04-1992</span>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-u--table-date-width">
                          <span class="nhsuk-table-responsive__heading">End date </span>
                          <span
                                  id="code-table--Presentation Code (BNF)-end-date-value-current">EOT</span>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </section>
                <!--BNF Tree-->
                <section class="nhsuk-u-padding-bottom-4" id="bnf-tree-section">


                  <h2 class="nhsuk-heading-l">BNF tree</h2>
                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Link</dt>
                      <dd class="nhsuk-summary-list__value" id="bnf-tree-link">
                        <a target="_blank" rel="noopener noreferrer"
                           href="http://fi3.nhsbsa.nhs.uk/DMDUAT/BnfApp/ppaCode=7642108">BNF Code
                          classification</a>
                      </dd>
                    </div>
                  </dl>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-summary">
          <div class="tabs-panel-inner">

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <!--Summary-->
                <section class="nhsuk-u-padding-bottom-4" id="summary-section">
                  <h2 class="header-medium">Summary</h2>

                  <dl class="nhsuk-summary-list" style="width: 45%">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 55%">
                        Start date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-visually-hidden">Start date</span>
                        <span id="summary-start-date-value">SOT</span>
                      </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        End date
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-visually-hidden">End date</span>
                        <span id="summary-end-date-value">EOT</span>
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">PIT
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-visually-hidden">PIT value</span>
                        <span id="summary-pit-value">Generic Name VMP</span>
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Dictionary
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-visually-hidden">Dictionary code</span>
                        <span id="summary-table-dictionary-value" class="nhsuk-tag">PCDD</span>
                      </dd>
                    </div>


                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Invalid
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-visually-hidden">Invalid</span>
                        <span id="summary-invalid-value">

          </span>
                      </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Unextractable
                      </dt>
                      <dd class="nhsuk-summary-list__value">

                      </dd>
                    </div>
                  </dl>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>

<script>
  Tabs();
</script>


{% endblock %}