{% extends "tce-2523/base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Footer Redesign</h1>

    <ul>

      <li><a href="/tce-2523/amp" class="nhsuk-link nhsuk-link--no-visited-state">AMP</a></li>
       <li><a href="/tce-2523/ampp" class="nhsuk-link nhsuk-link--no-visited-state">AMPP</a></li>
       <li><a href="/tce-2523/vmp" class="nhsuk-link nhsuk-link--no-visited-state">VMP</a></li>
        <li><a href="/tce-2523/vmpp" class="nhsuk-link nhsuk-link--no-visited-state">VMPP</a></li>
         <li><a href="/tce-2523/supplier" class="nhsuk-link nhsuk-link--no-visited-state">Supplier current</a></li>
          <li><a href="/tce-2523/supplier2" class="nhsuk-link nhsuk-link--no-visited-state">Supplier ideal</a></li>
    </ul>
  </div>
</div>
{% endblock %}