{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="new-query-summary-page.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to add query dates  </span></a>
</div>
<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
  <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                User defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
    Edit dictionary
  </h1>
  <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
<h2> Set your required dictionary</h2>
      </legend>

      <div class="nhsuk-hint" id="example-hints-hint">
        <p class="nhsuk-u-margin-bottom-2">Choose an option from the list below to choose your required dictionary </p>
      </div>

      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes-up">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
            PCDD
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="yes-down">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          SCDD
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="yes-bottom">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
           Both PCDD and SCDD
          </label>
        </div>

      </div>
    </fieldset>

    <a class="nhsuk-button nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="new-query-summary-page.html">
      Continue
    </a>

    <!--    <a class="nhsuk-button nhsuk-button&#45;&#45;secondary nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="#">-->
    <!--      View results-->
    <!--    </a>-->



    {% endblock %}