{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="summary-page-save-query.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to save query summary page </span></a>
</div>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
    <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                User defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
     Add user id (Cypher)
    </h1>
  </legend>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="select-name">
      Select user names
    </label>
    <select class="nhsuk-select" id="select-name" name="select-1">
      <option value=""></option>
      <option value="JAHMO">JAHMO</option>
      <option value="ALBOW">ALBOW</option>
      <option value="ALRAM">ALRAM</option>
      <option value="JAHMO">BAHMO</option>
      <option value="ALBOW">CLBOW</option>
      <option value="ALRAM">DERAM</option>
      <option value="JAHMO">ELLMO</option>
      <option value="ALBOW">HELOW</option>
      <option value="ALRAM">INRAM</option>
    </select>
  </div>

</fieldset>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>

  <p>Todays date will be added to this save query automatically</p>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-5" id="continue-button" name="button" href="save-query-add-note.html">Save and continue</a>

</div>
<script>

  let allSelectIds = document.querySelectorAll('select[id]');
  let allInputIds = document.querySelectorAll('input[id]');


  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: "",
    autoselect: true,
    showAllValues: true,
    confirmOnBlur: false,
    showNoOptionsFound: true,
    selectElement: document.querySelector("#select-name"),
  });

  let parentDiv = document.querySelector("#Select-name").parentNode;
  let newLabel = document.createElement("label");
  newLabel.innerHTML = "Form";
  newLabel.style.display = "none";
  newLabel.setAttribute("for", document.querySelector("#select-name-select").id);
  parentDiv.appendChild(newLabel);


</script>




{% endblock %}