{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="summary-page-save-query.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to summary page save query</span></a>
</div>
<div>
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
      <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Save user defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Save query cipher page
      </h1>
    </legend>
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
       Do you want to add your User id (Cipher) to save the query?
      </h1>
    </legend>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes i want to add my user ID (cipher)
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No i dont want to add my user ID (Cipher)
        </label>
      </div>

    </div>
  </fieldset>

  <a class="nhsuk-button nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="#" id="submitButton">
    Save and continue
  </a>

</div>
<script>
  document.getElementById("submitButton").addEventListener("click", function () {
    const selected = document.querySelector('input[name="example"]:checked');
    if (selected) {
      if (selected.value === "yes") {
        window.location.href = "save-query-add-cipher.html";
      } else if (selected.value === "no") {
        window.location.href = "save-query-choose-date.html";
      }
    } else {
      alert("Please select an option.");
    }
  });
</script>
{% endblock %}