{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="summary-page-save-query.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to save query summary page</span></a>
</div>


<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
    <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Save user defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
      Choose category
    </h1>
  </legend>



  <div class="nhsuk-form-group">


    <!--Catagory:- the users can add a category from the list below, there would potentially be more than i have found to add to the dropdown -->
    <div class="nhsuk-form-group nhsuk-u-margin-top-5">
      <h2 class="nhsuk-label-wrapper">
        <label class="nhsuk-label--l" for="example-1">
          Category
        </label>
      </h2>

        <div class="nhsuk-radios">
          <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Cat A price check
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                Part IX Price update
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-3" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                Price concessions
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-4" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-4">
                Thursday checks
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-5" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                CDR
              </label>
            </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-5" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                  Price concessions
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-5" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                  R and R
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-5" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                  Drug tariff
                </label>
              </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-5" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-5">
                Other
              </label>
            </div>
          </div>
        </div>

      </div>
        </div>





  <button id="submitButton" class="nhsuk-button">Continue</button>

</div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const button = document.getElementById("submitButton");

      button.addEventListener("click", function () {
        const selectedRadio = document.querySelector(".nhsuk-radios__input:checked");

        if (!selectedRadio) {
          alert("Please select a category before continuing.");
          return;
        }

        const labelText = selectedRadio.nextElementSibling.innerText.trim();

        if (labelText === "Other") {
          window.location.href = "Add-other-category.html";
        } else {
          window.location.href = "save-query-add-note.html";
        }
      });
    });
  </script>


  {% endblock %}