{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="save-query-add-cipher.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to save query add cipher  </span></a>
</div>


<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
    <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Saved user defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
      Add user name
    </h1>
  </legend>
</fieldset>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Choose a username (Cypher) to add to the query
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1"></option>
    <option value="2" >Cremb</option>
    <option value="3" >Jahmo</option>
    <option value="4" >Anoth</option>j
  </select>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="saved-udq-date.html" id="submitButton">
  Continue
</a>

{% endblock %}