{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="saved-udq-view.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to view saved queries  </span></a>
</div>


<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
    <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Saved user defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
      View notes
    </h1>
  </legend>
</fieldset>



  <div>
    <H3>Saved notes </H3>
    <ul>
      <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </li>

    </ul>
  </div>


<a class="nhsuk-button nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="saved-udq-view.html" id="submitButton">
  back to saved query
</a>

{% endblock %}

<!--<details class="nhsuk-details nhsuk-expander">-->
<!--  <summary class="nhsuk-details__summary">-->
<!--    <span class="nhsuk-details__summary-text">-->
<!--      View your notes-->
<!--    </span>-->
<!--  </summary>-->
<!--  <div class="nhsuk-details__text">-->
<!--    <H3>Note </H3>-->
<!--    <ul>-->
<!--      <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</details>-->