{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="large-data-table.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to the results page </span></a>
</div>
<div>
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
      <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                User defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Save new query summary page
      </h1>
    </legend>



    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-top-5">
      <h2 class="nhsuk-fieldset__heading">
        Internal/External attribute selected

      </h2>
    </legend>

<!--    <div class="nhsuk-hint" id="contact-hint">-->
<!--      Internal/external attribute are set by default to both Int and Ext. If you want to make changes to the Int/Ext attribute-->
<!--      <a href="edit-attribute-int-ext.html">-->
<!--        You can edit that here-->
<!--      </a>.-->
<!--    </div>-->

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Int/Ext
        </dt>
        <dd class="nhsuk-summary-list__value">
          Both Int and Ext
        </dd>

      </div>

    </dl>
    <!--search criteria view -->
    <div class="nhsuk-do-dont-list nhsuk-u-margin-top-9">
      <h3 class="nhsuk-do-dont-list__label">Search criteria view</h3>

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Level
          </th>
          <th role="columnheader" class="" scope="col">
            Attribute
          </th>
          <th role="columnheader" class="" scope="col">
            Qualifier(Operator)
          </th>
          <th role="columnheader" class="" scope="col">
            Criteria
          </th>

        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">VPM</td>
          <td class="nhsuk-table__cell ">Dictionary</td>
          <td class="nhsuk-table__cell ">Equal to</td>
          <td class="nhsuk-table__cell ">PCDD</td>

        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">VPM</td>
          <td class="nhsuk-table__cell ">Invalid status</td>
          <td class="nhsuk-table__cell ">Equal to</td>
          <td class="nhsuk-table__cell ">Valid</td>

        </tr>
        </tbody>
      </table>
    </div>
    <!--search display view-->
    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">Search display view</h3>

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Level
          </th>
          <th role="columnheader" class="" scope="col">
            Attribute
          </th>
          <th role="columnheader" class="" scope="col">
            Criteria
          </th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">VPM</td>
          <td class="nhsuk-table__cell ">Name</td>

          <td class="nhsuk-table__cell ">Exclude dates</td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">VMPP</td>
          <td class="nhsuk-table__cell ">Snomed code</td>

          <td class="nhsuk-table__cell ">Exclude dates</td>

        </tr>

        </tbody>
      </table>
    </div>
    <div class="nhsuk-form-group">


      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h2 class="nhsuk-fieldset__heading">
          Dates selected
        </h2>
      </legend>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            18th November 2024
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            End date
          </dt>
          <dd class="nhsuk-summary-list__value">
            18th November 2024
          </dd>

        </div>

      </dl>

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h2 class="nhsuk-fieldset__heading">
          Dictionary selected
        </h2>
      </legend>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Dictionary
          </dt>
          <dd class="nhsuk-summary-list__value">
            Both PCDD and SCDD
          </dd>

        </div>

      </dl>
    </div>


    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Do you want to save this query?
      </h1>
    </legend>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes i would like to save this query
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No i would like to finish my query here
        </label>
      </div>

    </div>

  </fieldset>



  <a class="nhsuk-button nhsuk-u-margin-top-5" data-module="nhsuk-button" type="submit" href="#" id="submitButton">
  Continue
  </a>

</div>

<script>
  document.getElementById("submitButton").addEventListener("click", function () {
    const selected = document.querySelector('input[name="example"]:checked');
    if (selected) {
      if (selected.value === "yes") {
        window.location.href = "save-query-add-note.html";
      } else if (selected.value === "no") {
        window.location.href = "home-page.html";
      }
    } else {
      alert("Please select an option.");
    }
  });
</script>

{% endblock %}