
{% extends "base-full.html" %}
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="#" onclick="history.back(); return false;">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back
    </a>
  </div>

  <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>Preview changes</h1>

                <h2>Drug Tariff Update Period</h2>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Previous Month 
            </dt>
            <dd class="nhsuk-summary-list__value">
              September-24
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Current Month 
            </dt>
            <dd class="nhsuk-summary-list__value">
              October-24
            </dd>
          </div>

        </dl>

        <h2>VMPPs being updated</h2>
        <p>You are about to update prices for the following VMPPs</p>




        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updated prices for products</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th scope="col">Drug Name</th>
              <th scope="col">Pack Size</th>
              <th scope="col">Pack unit of measurement</th>
              <th scope="col">Current price</th>
              <th scope="col">New price</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Acamprosate 333mg gastro-resistant tablets
                </a>
              </td>
              <td>168</td>
              <td>tablet</td>
              <td>2164</td>
              <td>2180</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Acetazolamide 250mg tablets
                </a>
              </td>
              <td>112</td>
              <td>tablet</td>
              <td>539</td>
              <td>514</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Aciclovir 200mg tablets
                </a>
              </td>
              <td>25</td>
              <td>tablet</td>
              <td>123</td>
              <td>115</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Aciclovir 400mg tablets
                </a>
              </td>
              <td>56</td>
              <td>tablet</td>
              <td>264</td>
              <td>251</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Aciclovir 800mg tablets
                </a>
              </td>
              <td>35</td>
              <td>tablet</td>
              <td>343</td>
              <td>330</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Alendronic acid 70mg tablets
                </a>
              </td>
              <td>4</td>
              <td>tablet</td>
              <td>95</td>
              <td>86</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Alfuzosin 2.5mg tablets
                </a>
              </td>
              <td>60</td>
              <td>tablet</td>
              <td>130</td>
              <td>126</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Allopurinol 100mg tablets
                </a>
              </td>
              <td>28</td>
              <td>tablet</td>
              <td>75</td>
              <td>66</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Allopurinol 300mg tablets
                </a>
              </td>
              <td>28</td>
              <td>tablet</td>
              <td>99</td>
              <td>91</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amantadine 100mg capsules
                </a>
              </td>
              <td>56</td>
              <td>capsule</td>
              <td>619</td>
              <td>621</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amiloride 5mg tablets
                </a>
              </td>
              <td>28</td>
              <td>tablet</td>
              <td>1340</td>
              <td>1673</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amiodarone 200mg tablets
                </a>
              </td>
              <td>28</td>
              <td>tablet</td>
              <td>185</td>
              <td>178</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amisulpride 100mg tablets
                </a>
              </td>
              <td>60</td>
              <td>tablet</td>
              <td>1376</td>
              <td>1289</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amisulpride 200mg tablets
                </a>
              </td>
              <td>60</td>
              <td>tablet</td>
              <td>2604</td>
              <td>2437</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
                  Amisulpride 50mg tablets
                </a>
              </td>
              <td>60</td>
              <td>tablet</td>
              <td>1033</td>
              <td>988</td>
            </tr>
          </tbody>
        </table>
        
        <nav aria-label="Pagination Navigation">
          <ul class="nhsuk-table-pagination" id="pagination">
      
            <li class="nhsuk-u-margin-right-3" id="linkFirst">&lt;&lt; first</li>
            
            <li id="linkPrevious">&lt; previous</li>
            
      
            <li><span class="nhsuk-u-visually-hidden">Currently viewing </span><span id="pageNumber">Page 1 of 3</span></li>
      
            
            <li id="linkNext"><a aria-label="Goto next page" href="#">next &gt;</a></li>
            
            <li id="linkLast" class="nhsuk-u-margin-left-3"><a aria-label="Goto last page" href="#">last &gt;&gt;</a></li>
      
          </ul>
        </nav>
        <br>
        <a class="nhsuk-button" href="/cat-m/changes-saved" role="button" draggable="false">Confirm changes</a>
        <br>
        <a class="nhsuk-button nhsuk-button--secondary" href="/cat-m/index" role="button" draggable="false">Cancel upload</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}
