{% extends "update-redesign/base2.html" %}
{% block content %}
<div class="nhsuk-grid-row">
    <div id="content-pane" class="nhsuk-grid-column-full">


        <span class="nhsuk-caption-l" id="update-codes-sub-heading">Update codes</span>
        <span class="nhsuk-u-visually-hidden"> - </span>
        <h1 class="nhsuk-heading-xl" id="update-codes-heading">Abacavir</h1>


        <form method="post">
            <input name="_csrf"
                value="DgiPiJH7_xZGF9Iiro71x-6etafSVmFxwicMs2cjI8gu_vvUOzu2uKefnSRrcrYQn6PBptz6mMazbgdc80VogVASG61MysPi"
                type="hidden">



            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">


                    <div class="nhsuk-grid-column-full update-box">

                        <fieldset class="nhsuk-fieldset" aria-describedby="code-hint-snomed-already-exists"></fieldset>




                        <legend id="code-0-legend-value" class="nhsuk-fieldset__legend--l update-general-heading">SNOMED
                            Code</legend>



                        <div class="nhsuk-grid-column-full">



                            <div class="nhsuk-hint" id="code-hint-snomed-already-exists">
                                You may select 'Assign core SNOMED code' or 'Assign
                                UK extension code' to update the current
                                SNOMED code with a new one.
                            </div>

                        </div>
                        <div class="nhsuk-grid-column-one-half">
                            <div class="nhsuk-form-group">
                                <div class="nhsuk-u-margin-right-2">

                                    <!--Existing Option-->

                                    <!--Generate Option-->

                                    <div class="nhsuk-grid-column-two-thirds">
                                        <div class="nhsuk-form-group">
                                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                                Description
                                            </legend>




                                            <div>
                                                <div>

                                                </div>

                                                <div class="nhsuk-u-margin-top-6">

                                                    <span class="nhsuk-u-font-size-19">Current SNOMED code:</span>
                                                    <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"
                                                        field="UpdateGenerateCode(codeGenType=SNOMED)"
                                                        id="code-0-current-value">387005008</span>


                                                </div>

                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>



                        <!--Start Date-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-0-start-date-legend" class="nhsuk-fieldset__legend--m">
                                    Start Date
                                </legend>
                                <div aria-live="polite" class="visually-hidden" id="start-date-hidden-0"></div>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-0-start-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-day"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-start-date-day"
                                                    type="text" name="values[0].startDate.day" value="13">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-month"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-start-date-month"
                                                    type="text" name="values[0].startDate.month" value="08">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-year"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-0-start-date-year"
                                                    type="text" name="values[0].startDate.year" value="2007">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--EndDate-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-0-end-date-legend" class="nhsuk-fieldset__legend--m">
                                    End Date
                                </legend>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-0-end-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-day"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-end-date-day"
                                                    type="text" name="values[0].endDate.day" value="01">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-month"><span
                                                        class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-end-date-month"
                                                    type="text" name="values[0].endDate.month" value="02">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-year"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-0-end-date-year"
                                                    type="text" name="values[0].endDate.year" value="3456">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button class="nhsuk-button nhsuk-button--reverse" type="button"
                                onclick="setLastDayOfPreviousMonth(this)">
                                End Attribute
                            </button>
                        </div>


                        <div class="nhsuk-grid-column-full nhsuk-u-margin-left-3">

                            <button class="nhsuk-button nhsuk-button--secondary submit-button"
                                id="update-snomed-code-button-0"
                                formaction="/update/ingredient?execution=e3s1&amp;_eventId=updateSnomed&amp;identifier=09465e59-24d0-4d94-9c1a-2fcb17c196ac"
                                type="submit">
                                Assign core SNOMED code
                            </button>

                            <button class="nhsuk-button nhsuk-button--secondary submit-button"
                                id="update-snomed-uk-extension-code-button-0"
                                formaction="/update/ingredient?execution=e3s1&amp;_eventId=updateSnomedUkExtension&amp;identifier=09465e59-24d0-4d94-9c1a-2fcb17c196ac"
                                type="submit">
                                Assign UK extension code
                            </button>




                        </div>

                    </div>




                    <button class="nhsuk-button nhsuk-button--primary submit-button" id="submit" name="_eventId_submit"
                        type="submit">Continue
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>


<script>
    function setLastDayOfPreviousMonth(button) {
        // Find the nearest parent with class "nhsuk-date-input"
        const dateContainer = button.closest('.nhsuk-grid-column-one-quarter')
            ?.querySelector('.nhsuk-date-input');

        if (!dateContainer) return;

        const dayInput = dateContainer.querySelector('input[id$="-day"]');
        const monthInput = dateContainer.querySelector('input[id$="-month"]');
        const yearInput = dateContainer.querySelector('input[id$="-year"]');

        if (!dayInput || !monthInput || !yearInput) return;

        // Calculate yesterday's date instead of last day of previous month
        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);

        // Pad values for consistency
        const day = String(yesterday.getDate()).padStart(2, '0');
        const month = String(yesterday.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed
        const year = yesterday.getFullYear();

        // Set values
        dayInput.value = day;
        monthInput.value = month;
        yearInput.value = year;
    }
</script>
{% endblock %}