{% extends "update-redesign/base.html" %}
{% block content %}


    <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/tce-2465/vmp-update-associated-vtms">VMP Update Associated VTM</a> </h2>
                    <p class="nhsuk-card__description">VMP > View VTMs > Update
                    </p>
                </div>
            </div>

        </li>
        <!--li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/tce-2465/amp-update-attribute">AMP Update Attribute</a> </h2>
                    <p class="nhsuk-card__description">AMP > View attrributes > Update</p>
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="#">Exercise</a>
                    </h2>
                    <p class="nhsuk-card__description">Programmes, workouts and tips to get you moving and improve your
                        fitness and wellbeing</p>
                </div>
            </div>

        </li-->
    </ul>


{% endblock %}