{% extends "update-redesign/base.html" %}
{% block content %}


    <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/vmp-update-current-name">VMP Update Current Name</a> </h2>
                    <p class="nhsuk-card__description">VMP  > View more > Update current name
                    </p>
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/amp-update-current-name">AMP Update Current Name</a> </h2>
                    <p class="nhsuk-card__description">AMP  > View more > Update current name</p>
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/vtm-update-current-name">VTM Update Current Name</a> </h2>
                    <p class="nhsuk-card__description">VTM  > View more > Update current name</p>
                </div>
            </div>

        </li> <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/ing-update-current-name">Ingredient Update Current Name</a> </h2>
                    <p class="nhsuk-card__description">Ingredient  > View more > Update current name</p>
                </div>
            </div>

        </li> <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/sup-update-current-name">Supplier Update Current Name</a> </h2>
                    <p class="nhsuk-card__description">Supplier  > View more > Update current name</p>
                </div>
            </div>

        </li>
    </ul>


{% endblock %}