{% extends "update-redesign/base.html" %}
{% block content %}


<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content" style="display: block">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                        href="/tce-2465/vtm-update-snomed-code">VTM Update SNOMED code</a> </h2>
                <p class="nhsuk-card__description">VTM > View summary > Codes > Update
                </p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content" style="display: block">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                        href="/tce-2465/ing-update-snomed-code">Ingredient Update SNOMED code</a> </h2>
                <p class="nhsuk-card__description">Ingredient > View summary > Codes > Update </p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content" style="display: block">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                        href="/tce-2465/uom-update-snomed-code">UoM Update SNOMED code</a> </h2>
                <p class="nhsuk-card__description">Code maintenance > UoM search > Update SNOMED </p>
            </div>
        </div>

    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


        <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content" style="display: block">
                <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link"
                        href="/tce-2465/attribute-update-snomed-code">Attribute search Update SNOMED code</a> </h2>
                <p class="nhsuk-card__description">Code maintenance > Attribute Search > Update SNOMED </p>
            </div>
        </div>

    </li>
    
</ul>


{% endblock %}