{% extends "update-redesign/base2.html" %}
{% block content %}
<div class="nhsuk-grid-row">
    <div id="content-pane" class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-column-three-quarters">
            <span class="nhsuk-caption-l" id="update-codes-sub-heading">Update codes</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
            <h1 class="nhsuk-heading-xl" id="update-codes-heading">Abacavir 20mg/ml oral solution sugar free</h1>
        </div>

        <div class="nhsuk-grid-column-one-quarter" style="float: right;">
            <button class="nhsuk-button nhsuk-button--secondary-solid nhsuk-button-float-right"
                data-module="nhsuk-button" type="submit">
                Cancel update
            </button>
        </div>



        <form method="post">
            <input name="_csrf"
                value="XT7Okf-pjI2eD-nLRxe5MZxf9zyY8x4oELWts0KhDlwGEXK1Owz9pM-R7-6zOYj_cTqNB69p2gWuxy0FIoSZ0HCSPmg0d0LQ"
                type="hidden">



            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">


                    <div class="nhsuk-grid-column-full update-box">
                        <div class="update-general-heading">
                            <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">PPA code</h2>
                            <a href="#" class="nhsuk-link nhsuk-link--reverse nhsuk-button-float-right">Revert
                                changes</a>


                        </div>

                        <fieldset class="nhsuk-fieldset" aria-describedby="code-hint-generate"></fieldset>

                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-hint" id="code-hint-generate">
                                You can manually enter a code in the box provided,
                                select
                                'Auto-allocate' for a system generated code, or
                                change the start or end
                                date of this code.
                            </div>



                        </div>
                        <div class="nhsuk-grid-column-one-half">
                            <div class="nhsuk-form-group">
                                <div class="nhsuk-u-margin-right-2">

                                    <!--Existing Option-->

                                    <!--Generate Option-->

                                    <div class="nhsuk-grid-column-two-thirds">
                                        <div class="nhsuk-form-group">
                                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                                Description
                                            </legend>

                                            <label class="nhsuk-label" for="code-0-current-value">Value</label>
                                            <input class="nhsuk-input nhsuk-u-margin-bottom-4 insertAttribute-input"
                                                id="code-0-current-value" value="0007202" name="values[0].value">

                                            <div>
                                                <div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>



                        <!--Start Date-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-0-start-date-legend" class="nhsuk-fieldset__legend--m">
                                    Start Date
                                </legend>
                                <div aria-live="polite" class="visually-hidden" id="start-date-hidden-0"></div>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-0-start-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-day"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-start-date-day"
                                                    type="text" name="values[0].startDate.day" value="28">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-month"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-start-date-month"
                                                    type="text" name="values[0].startDate.month" value="05">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-start-date-year"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-0-start-date-year"
                                                    type="text" name="values[0].startDate.year" value="2003">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--EndDate-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-0-end-date-legend" class="nhsuk-fieldset__legend--m">
                                    End Date
                                </legend>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-0-end-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-day"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-end-date-day"
                                                    type="text" name="values[0].endDate.day" value="01">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-month"><span
                                                        class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-0-end-date-month"
                                                    type="text" name="values[0].endDate.month" value="02">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-0-end-date-year"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-0-end-date-year"
                                                    type="text" name="values[0].endDate.year" value="3456">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button class="nhsuk-button nhsuk-button--reverse" type="button"
                                onclick="setLastDayOfPreviousMonth(this)">
                                End Attribute
                            </button>
                        </div>


                        <div class="nhsuk-grid-column-full nhsuk-u-margin-left-3">







                            <div class="nhsuk-checkboxes__item nhsuk-u-padding-bottom-4">
                                <input type="hidden" name="_values[0].shouldGenerate" value="on"><input
                                    class="nhsuk-checkboxes__input insertAttribute-input"
                                    id="code-0-current-value-auto-allocate" type="checkbox"
                                    valueinput="code-0-current-value" name="values[0].shouldGenerate" value="true">
                                <label class="nhsuk-label nhsuk-checkboxes__label"
                                    for="code-0-current-value-auto-allocate">
                                    Auto-allocate
                                </label>
                            </div>
                        </div>

                    </div>



                    <div class="nhsuk-grid-column-full update-box">
                        <div class="update-general-heading">
                            <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">SNOMED code</h2>
                            <a href="#" class="nhsuk-link nhsuk-link--reverse nhsuk-button-float-right">Revert
                                changes</a>


                        </div>

                        <fieldset class="nhsuk-fieldset" aria-describedby="code-hint-snomed-already-exists"></fieldset>




                        <div class="nhsuk-grid-column-full">



                            <div class="nhsuk-hint" id="code-hint-snomed-already-exists">
                                You may select 'Assign core SNOMED code' or 'Assign
                                UK extension code' to update the current
                                SNOMED code with a new one.
                            </div>

                        </div>
                        <div class="nhsuk-grid-column-one-half">
                            <div class="nhsuk-form-group">
                                <div class="nhsuk-u-margin-right-2">

                                    <!--Existing Option-->

                                    <!--Generate Option-->

                                    <div class="nhsuk-grid-column-two-thirds">
                                        <div class="nhsuk-form-group">
                                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                                Description
                                            </legend>




                                            <div>
                                                <div>

                                                </div>

                                                <div class="nhsuk-u-margin-top-6">

                                                    <span class="nhsuk-u-font-size-19">Current SNOMED code:</span>
                                                    <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"
                                                        field="UpdateGenerateCode(codeGenType=SNOMED)"
                                                        id="code-1-current-value">41757911000001106</span>


                                                </div>

                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>



                        <!--Start Date-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-1-start-date-legend" class="nhsuk-fieldset__legend--m">
                                    Start Date
                                </legend>
                                <div aria-live="polite" class="visually-hidden" id="start-date-hidden-1"></div>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-1-start-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-start-date-day"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-1-start-date-day"
                                                    type="text" name="values[1].startDate.day" value="09">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-start-date-month"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-1-start-date-month"
                                                    type="text" name="values[1].startDate.month" value="05">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-start-date-year"><span
                                                        class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-1-start-date-year"
                                                    type="text" name="values[1].startDate.year" value="2023">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--EndDate-->
                        <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                                <legend id="code-1-end-date-legend" class="nhsuk-fieldset__legend--m">
                                    End Date
                                </legend>

                                <div class="nhsuk-form-group">

                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div>

                                    </div>
                                    <div class="nhsuk-date-input" id="code-1-end-date">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-end-date-day"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Day</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-1-end-date-day"
                                                    type="text" name="values[1].endDate.day" value="01">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-end-date-month"><span
                                                        class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                    inputmode="numeric" maxlength="2" id="code-1-end-date-month"
                                                    type="text" name="values[1].endDate.month" value="02">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label"
                                                    for="code-1-end-date-year"><span class="nhsuk-u-visually-hidden">End
                                                        date </span>Year</label>
                                                <input
                                                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                    inputmode="numeric" maxlength="4" id="code-1-end-date-year"
                                                    type="text" name="values[1].endDate.year" value="3456">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button class="nhsuk-button nhsuk-button--reverse" type="button"
                                onclick="setLastDayOfPreviousMonth(this)">
                                End Attribute
                            </button>
                        </div>


                        <div class="nhsuk-grid-column-full nhsuk-u-margin-left-3">

                            <button class="nhsuk-button nhsuk-button--secondary submit-button"
                                id="update-snomed-code-button-1"
                                formaction="/update/vmp?execution=e2s1&amp;_eventId=updateSnomed&amp;identifier=783e8343-723a-47c3-91ae-82b8c8c5c1f4"
                                type="submit">
                                Assign core SNOMED code
                            </button>

                            <button class="nhsuk-button nhsuk-button--secondary submit-button"
                                id="update-snomed-uk-extension-code-button-1"
                                formaction="/update/vmp?execution=e2s1&amp;_eventId=updateSnomedUkExtension&amp;identifier=783e8343-723a-47c3-91ae-82b8c8c5c1f4"
                                type="submit">
                                Assign UK extension code
                            </button>




                        </div>

                    </div>


                    <button class="nhsuk-button nhsuk-button--primary submit-button" id="submit" name="_eventId_submit"
                        type="submit">Preview changes
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<script>
    function setLastDayOfPreviousMonth(button) {
        // Find the nearest parent with class "nhsuk-date-input"
        const dateContainer = button.closest('.nhsuk-grid-column-one-quarter')
            ?.querySelector('.nhsuk-date-input');

        if (!dateContainer) return;

        const dayInput = dateContainer.querySelector('input[id$="-day"]');
        const monthInput = dateContainer.querySelector('input[id$="-month"]');
        const yearInput = dateContainer.querySelector('input[id$="-year"]');

        if (!dayInput || !monthInput || !yearInput) return;

        // Calculate yesterday's date instead of last day of previous month
        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);

        // Pad values for consistency
        const day = String(yesterday.getDate()).padStart(2, '0');
        const month = String(yesterday.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed
        const year = yesterday.getFullYear();

        // Set values
        dayInput.value = day;
        monthInput.value = month;
        yearInput.value = year;
    }
</script>

{% endblock %}