.nhsuk-tree {
  margin-bottom: 30px;
}

#tree2.nhsuk-tree {
  margin-bottom: 30px;
}

.nhsuk-tree>ul>li {
  margin: 0;
}

#tree2 > ul > li {
  margin: 0;
}

#tree2 li, #tree2 ul {
  padding: 5px 0;
  position: relative;
  margin-bottom: 0;
}

.nhsuk-tree li,
.nhsuk-tree ul {
  padding: 5px 0;
  position: relative;
  margin-bottom: 0;
}

.nhsuk-tree ul {
  list-style: none;
}

.nhsuk-tree li {
  margin: 0 0 0 20px;
}

li div {
  display: flex;
}

#tree2 ul {
  list-style: none;
}

#tree2 li {
  margin: 0 0 0 20px;
}

#tree2 li > div {
  display: flex;
}

.nhsuk-tree ul ul::before {
  border-left: 1px solid #c9ced5;
  bottom: 61px;
  content: "";
  left: 6px;
  position: absolute;
  top: 0px;
}

.nhsuk-tree li li::before {
  border-top: 1px solid #c9ced5;
  content: "";
  left: -15px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.nhsuk-tree li:last-child::before {
  bottom: -5px;
}

.nhsuk-tree-ul::before {
  bottom: 121px !important;
}

#tree2 ul ul::before {
  border-left: 1px solid #c9ced5;
  bottom: 0;
  content: "";
  left: 6px;
  position: absolute;
  top: 0px;
}

#tree2 li li::before {
  border-top: 1px solid #c9ced5;
  content: "";
  left: -15px;
  position: absolute;
  top: 20px;
  width: 15px;
}

#tree2 li:last-child::before {
  bottom: -5px;
}

#tree2 ul[role="group"]::before {
  bottom: 20px;
}




@media (min-width: 66em) {
  .side-tree {
    float: left;
    width: 25%;
  }

  .side-tree-view {
    float: left;
    width: 75%;
  }

  .side-tree-full-view {
    float: left;
    width: 100%;
  }
}

.nhsuk-button-hide-tree {
  background-color: #cce5d8;
  color: #004c23;
  border: 1px solid #6b140e;
  padding: 8px;
  width: max-content;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.nhsuk-button-show-full-screen {
  background-color: #ccdff1;
  color: #004281;
  border: 1px solid #004281;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.nhsuk-button-hide-full-screen {
  display: none;
  background-color: #ccdff1;
  color: #004281;
  border: 1px solid #004281;
  cursor: pointer;
  padding: 8px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.hidden {
  display: none;
}

.closed-icon {
   background-position: -68px -83px !important;
}