{% extends "base.html" %}
{% block content %}
<div class="nhsuk-grid-row">
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-18/insert-vtm/vtm-details">VTM details</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/sprint-18/insert-vtm/link-vmp">Linked VMPs</a></li>
      </ol>
    </div>
  </nav>
  <h1>Insert VTM</h1>
  <h2 class="nhsuk-heading-l">Summary</h2>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Name</dt>
        <dd class="nhsuk-summary-list__value">Atenolol</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Name Basis</dt>
        <dd class="nhsuk-summary-list__value">rINN</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Start date</dt>
        <dd class="nhsuk-summary-list__value">04/03/2021</dd>
      </div>
    </dl>
  </div>
  <div class="nhsuk-grid-column-full">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">SNOMED</dt>
        <dd class="nhsuk-summary-list__value">123456789876543</dd>
      </div>
    </dl>
  </div>
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-l">Linked VMPs</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">VMP</dt>
        <dd class="nhsuk-summary-list__value">Atenolol</dd>
      </div>
    </dl>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <a class="nhsuk-button" href="/sprint-18/stories">
        Confirm and save
      </a>
    </div>
  </div>
</div>
{% endblock %}