{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../index.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Home</a>
    </div>
    <h1 class="heading-xlarge">TCE-1229</h1>
    <h2>Product needs actioning</h2>
    <p>This journey assumes that the user has set a value in a product which requires the user to update other products urgently.
      Rather than going through each individual product,
      any products which need actioning will appear in this new dashboard</p>
    <ul>
      <li><a href="v1/index.html">Dashboard (Start)</a></li>
    </ul>
  </div>
</div>
{% endblock %}