{% extends "tce-2384/base2.html" %}


{% block content %}




<div>
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/tce-2384/results">VTM
        results</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/tce-2384/two/vtm-display">VTM: Aspirin</a>
    </li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/tce-2384/two/update-ingredient">Update
        Associated
        Ingredients</a></li>

    <!--li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Level three</a></li-->

  </ol>

</div>


<main data-page="view" class="nhsuk-main-wrapper" id="main-content" data-type="VTM">
  <div class="nhsuk-grid-row">
    <div id="content-pane" class="nhsuk-grid-column-full">
      <form method="post">
        <input name="_csrf"
          value="60cMWw4Gh7nsKjWq24OBsCOgEMe8KRIyilYZqxxAZdKrAgoR2iY7Om00sonBGFfIua610UDEPf6OHSsfumAgmXh0AevJOzMj"
          type="hidden">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">

            <span class="nhsuk-caption-l" id="update-associated-vmps-sub-heading">Update associated ingredients</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
            <h1 class="nhsuk-heading-xl" id="update-associated-vmps-heading">Aspirin</h1>

          </div>
          <div class="nhsuk-grid-column-one-third">
            <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button"
              href="/tce-2384/two/update-ingredient-add" draggable="false" role="button">
              Add new ingredient
            </a>

            <button class="nhsuk-button nhsuk-button--primary" id="submit" name="_eventId_submit" type="submit">Continue
            </button>
          </div>
        </div>


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <div class="nhsuk-grid-column-one-quarter update-side-bar hide-mobile">
              <h2 class="nhsuk-heading-l nhsuk-u-visually-hidden">Navigation</h2>
              <ul class="nhsuk-list list-room-for-top-btn">
                <li><a href="#vmp-0-legend-value">Aspirin</a></li>
                <li><a href="#vmp-1-legend-value">Paracetamol</a></li>
                <!--li><a href="#vmp-2-legend-value">Aspirin 100mg/5ml oral solution</a></li-->



              </ul>

            </div>

            <div class="nhsuk-grid-column-two-thirds column-room-for-top-btn update-main-view">
              <div class="nhsuk-grid-column-full update-box">
                <section id="vmp-0">

                  <fieldset class="nhsuk-fieldset">
                    <legend id="vmp-0-legend-value" class="nhsuk-fieldset__legend--l update-general-heading">Aspirin
                      100mg capsules</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.id" name="values[0].id" value="19936">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-start-date-legend">
                          Start date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-start-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-day"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-day" type="text"
                                  name="values[0].startDate.day" value="06">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-month"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-month" type="text"
                                  name="values[0].startDate.month" value="02">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-year"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-start-date-year" type="text"
                                  name="values[0].startDate.year" value="2025">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 06/02/2025 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>


                      </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-end-date-heading">
                          End date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-end-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-day"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-day" type="text"
                                  name="values[0].endDate.day" value="01">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-month"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-month" type="text"
                                  name="values[0].endDate.month" value="02">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-year"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-end-date-year" type="text"
                                  name="values[0].endDate.year" value="3456">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 01/02/3456 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="nhsuk-grid-column-full">
                      <h3 id="vmp-0-add-multi-heading" class="nhsuk-heading-m nhsuk-u-visually-hidden">
                        Action</h3>

                        <a href="/tce-2384/two/update-ingredient" class="govuk-button govuk-button--warning" role="button">
                          Remove Aspirin 100mg capsules
                        </a>
                        

                    </div>
                  </fieldset>
                  <!-- &lt;!&ndash;Current name&ndash;&gt;
                     <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                       <div class="nhsuk-u-margin-right-2">
                         <legend th:id="'vmp-' + ${idx.index} + '-name-legend'"
                                 class="nhsuk-fieldset__legend&#45;&#45;m">
                           VMP
                         </legend>
                         <label class="nhsuk-label" th:for="'vmp-'+${idx.index}+'-name'">Value</label>
                         <input th:id="'vmp-'+${idx.index}+'-name'"
                                class="nhsuk-input nhsuk-input&#45;&#45;width-10" disabled="disabled" th:value="${vmp.name}">
                         <input class="nhsuk-input" type="hidden" th:field="*{values[__${idx.index}__].id}">
                       </div>
                     </fieldset>-->

                  <!--                      &lt;!&ndash;Start Date&ndash;&gt;
                                          <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                            <legend th:id="'vmp-' + ${idx.index} + '-start-date-legend'"
                                                    class="nhsuk-fieldset__legend&#45;&#45;m">
                                              Start Date
                                            </legend>

                                            <th:block
                                                th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-start-date', name=*{values[__${idx.index}__].startDate}, field='values[' + ${idx.index} + '].startDate')}"></th:block>

                                          </fieldset>

                                          &lt;!&ndash;EndDate&ndash;&gt;
                                          <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                            <legend th:id="'vmp-' + ${idx.index} + '-end-date-legend'"
                                                    class="nhsuk-fieldset__legend&#45;&#45;m">
                                              End Date
                                            </legend>

                                            <th:block
                                                th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-end-date', name=*{values[__${idx.index}__].endDate}, field='values[' + ${idx.index} + '].endDate')}"></th:block>

                                          </fieldset>-->


                </section>
              </div>
              <div class="nhsuk-grid-column-full skip-links">
                <a class="nhsuk-back-to-top__link" href="#submit">
                  <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-associated-vmps-sub-heading">
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Back to top</a>
              </div>

              <div class="nhsuk-grid-column-full update-box">
                <section id="vmp-0">

                  <fieldset class="nhsuk-fieldset">
                    <legend id="vmp-0-legend-value" class="nhsuk-fieldset__legend--l update-general-heading">
                      Aspirin</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.id" name="values[0].id" value="6523">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-start-date-legend">
                          Start date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-start-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-day"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-day" type="text"
                                  name="values[0].startDate.day" value="14">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-month"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-month" type="text"
                                  name="values[0].startDate.month" value="03">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-year"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-start-date-year" type="text"
                                  name="values[0].startDate.year" value="2006">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 14/03/2006 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>


                      </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-end-date-heading">
                          End date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-end-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-day"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-day" type="text"
                                  name="values[0].endDate.day" value="01">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-month"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-month" type="text"
                                  name="values[0].endDate.month" value="02">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-year"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-end-date-year" type="text"
                                  name="values[0].endDate.year" value="3456">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 01/02/3456 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>

                      </div>
                    </div>


                  </fieldset>
                  <!-- &lt;!&ndash;Current name&ndash;&gt;
                           <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                             <div class="nhsuk-u-margin-right-2">
                               <legend th:id="'vmp-' + ${idx.index} + '-name-legend'"
                                       class="nhsuk-fieldset__legend&#45;&#45;m">
                                 VMP
                               </legend>
                               <label class="nhsuk-label" th:for="'vmp-'+${idx.index}+'-name'">Value</label>
                               <input th:id="'vmp-'+${idx.index}+'-name'"
                                      class="nhsuk-input nhsuk-input&#45;&#45;width-10" disabled="disabled" th:value="${vmp.name}">
                               <input class="nhsuk-input" type="hidden" th:field="*{values[__${idx.index}__].id}">
                             </div>
                           </fieldset>-->

                  <!--                      &lt;!&ndash;Start Date&ndash;&gt;
                                                <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                                  <legend th:id="'vmp-' + ${idx.index} + '-start-date-legend'"
                                                          class="nhsuk-fieldset__legend&#45;&#45;m">
                                                    Start Date
                                                  </legend>
  
                                                  <th:block
                                                      th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-start-date', name=*{values[__${idx.index}__].startDate}, field='values[' + ${idx.index} + '].startDate')}"></th:block>
  
                                                </fieldset>
  
                                                &lt;!&ndash;EndDate&ndash;&gt;
                                                <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                                  <legend th:id="'vmp-' + ${idx.index} + '-end-date-legend'"
                                                          class="nhsuk-fieldset__legend&#45;&#45;m">
                                                    End Date
                                                  </legend>
  
                                                  <th:block
                                                      th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-end-date', name=*{values[__${idx.index}__].endDate}, field='values[' + ${idx.index} + '].endDate')}"></th:block>
  
                                                </fieldset>-->


                </section>
              </div>
              <div class="nhsuk-grid-column-full skip-links">
                <a class="nhsuk-back-to-top__link" href="#submit">
                  <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-associated-vmps-sub-heading">
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Back to top</a>
              </div>

              <div class="nhsuk-grid-column-full update-box">
                <section id="vmp-1">

                  <fieldset class="nhsuk-fieldset">
                    <legend id="vmp-1-legend-value" class="nhsuk-fieldset__legend--l update-general-heading">
                      Paracetamol</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.id" name="values[0].id" value="6523">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-start-date-legend">
                          Start date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-start-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-day"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-day" type="text"
                                  name="values[0].startDate.day" value="14">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-month"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-start-date-month" type="text"
                                  name="values[0].startDate.month" value="03">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-start-date-year"><span
                                    class="nhsuk-u-visually-hidden">Start date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-start-date-year" type="text"
                                  name="values[0].startDate.year" value="2006">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 14/03/2006 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>


                      </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-quarter">
                      <div class="nhsuk-form-group">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="vmp-0-end-date-heading">
                          End date
                        </legend>


                        <div class="nhsuk-form-group">

                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div>

                          </div>
                          <div class="nhsuk-date-input js-copy-date-to-clipboard" id="vmp-0-end-date">
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-day"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Day</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-day" type="text"
                                  name="values[0].endDate.day" value="01">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-month"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Month</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                  inputmode="numeric" maxlength="2" id="vmp-0-end-date-month" type="text"
                                  name="values[0].endDate.month" value="02">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="vmp-0-end-date-year"><span
                                    class="nhsuk-u-visually-hidden">End date </span>Year</label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                  inputmode="numeric" maxlength="4" id="vmp-0-end-date-year" type="text"
                                  name="values[0].endDate.year" value="3456">
                              </div>
                            </div>
                            <div aria-live="polite" class="nhsuk-u-visually-hidden">' +
                              <p id="live-text-' + i + '"></p>
                            </div>
                            <button id="copy-button-' + i + '" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                              style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"><svg
                                style="vertical-align:middle; height: 31px; width:31px" alt="copy icon"
                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                aria-labelledby="copy-function-' + i + '">
                                <title id="copy-function-' + i + '" lang="en">Select this to copy 01/02/3456 to the
                                  clipboard</title>
                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                  style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                <line x1="8" y1="12" x2="13" y2="12" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="14" x2="13" y2="14" style="stroke:black;stroke-width:1"></line>
                                <line x1="8" y1="16" x2="13" y2="16" style="stroke:black;stroke-width:1"></line>
                              </svg></button>
                          </div>
                        </div>

                      </div>
                    </div>


                  </fieldset>
                  <!-- &lt;!&ndash;Current name&ndash;&gt;
                           <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                             <div class="nhsuk-u-margin-right-2">
                               <legend th:id="'vmp-' + ${idx.index} + '-name-legend'"
                                       class="nhsuk-fieldset__legend&#45;&#45;m">
                                 VMP
                               </legend>
                               <label class="nhsuk-label" th:for="'vmp-'+${idx.index}+'-name'">Value</label>
                               <input th:id="'vmp-'+${idx.index}+'-name'"
                                      class="nhsuk-input nhsuk-input&#45;&#45;width-10" disabled="disabled" th:value="${vmp.name}">
                               <input class="nhsuk-input" type="hidden" th:field="*{values[__${idx.index}__].id}">
                             </div>
                           </fieldset>-->

                  <!--                      &lt;!&ndash;Start Date&ndash;&gt;
                                                <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                                  <legend th:id="'vmp-' + ${idx.index} + '-start-date-legend'"
                                                          class="nhsuk-fieldset__legend&#45;&#45;m">
                                                    Start Date
                                                  </legend>
  
                                                  <th:block
                                                      th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-start-date', name=*{values[__${idx.index}__].startDate}, field='values[' + ${idx.index} + '].startDate')}"></th:block>
  
                                                </fieldset>
  
                                                &lt;!&ndash;EndDate&ndash;&gt;
                                                <fieldset class="nhsuk-fieldset nhsuk-grid-column-one-third">
                                                  <legend th:id="'vmp-' + ${idx.index} + '-end-date-legend'"
                                                          class="nhsuk-fieldset__legend&#45;&#45;m">
                                                    End Date
                                                  </legend>
  
                                                  <th:block
                                                      th:insert="~{nhsbsa-design-system/components  :: date-input(id='vmp-' + ${idx.index} + '-end-date', name=*{values[__${idx.index}__].endDate}, field='values[' + ${idx.index} + '].endDate')}"></th:block>
  
                                                </fieldset>-->


                </section>
              </div>
              <div class="nhsuk-grid-column-full skip-links">
                <a class="nhsuk-back-to-top__link" href="#submit">
                  <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-associated-vmps-sub-heading">
                  <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                  Back to top</a>
              </div>


              <br>
              <br>

              <button class="nhsuk-button nhsuk-button--primary" id="submit" name="_eventId_submit"
                type="submit">Continue
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const inputs = form.querySelectorAll("input, select, textarea"); // Include all input fields
    const initialValues = {};

    // Store initial values
    inputs.forEach(input => {
      initialValues[input.name] = input.value;
    });

    form.addEventListener("submit", function (event) {
      let isModified = false;

      // Check if any value has changed
      inputs.forEach(input => {
        if (initialValues[input.name] !== input.value) {
          isModified = true;
        }
      });

      if (isModified) {
        // Redirect to one page if values have changed
        form.action = "/tce-2384/two/update-ingredient-changed";
      } else {
        // Redirect to another page if no changes were made
        form.action = "/tce-2384/two/update-ingredient-empty";
      }
    });
  });
</script>


{% endblock %}