{% extends "base-full.html" %}
{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <h1 class="heading-xlarge">Prices updated successfully</h1>


    <!--div class="nhsuk-width-container">

      <div class="nhsuk-grid-column-full">
        <p>You have successfully updated prices for Hollister Ltd Part IX products </p>
      </div>

    </div-->

    

    <table role="table" class="nhsuk-table-responsive all-selections" style="margin-bottom: 24px;">
      <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-4">Price update for Hollister Ltd</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <!--th role="columnheader" scope="col">
            Eligibility
          </th-->
          <th role="columnheader" class="name-header" scope="col">
            Name
          </th>
          <th role="columnheader" class="" scope="col"><span class="nhsuk-u-visually-hidden">Reimbursement</span>
            Date
          </th>
          <th role="columnheader" class="" scope="col">
            GDP
          </th>
          <th role="columnheader" class="" scope="col">
            Price
          </th>
          <th role="columnheader" class="" scope="col">
            Unrounded price
          </th>

        </tr>
      </thead>

      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell eligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Eligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing convex barrier ring 89530 30mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2385
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price</span>
            <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
            2385.0322
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell eligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Eligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing convex barrier ring 89530 30mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2385
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2385.5874
          </td>

        </tr>
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour ineligible-colour--first">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading"> reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden"> reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading"> reimbursement price </span>
            <span class="nhsuk-u-visually-hidden"> reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-and-pending-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible and pending
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8815 48mm x 2.3mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-and-pending-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible and pending
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8815 48mm x 2.3mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell pending-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Pending
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing convex barrier ring 89520 20mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2385
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2385.0322
          </td>

        </tr>

        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell pending-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Pending
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing convex barrier ring 89520 20mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2385
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2385.0322
          </td>

        </tr>

        <!--      <tr role="row" class="nhsuk-table__row">-->
        <!--        <td role="cell" class="nhsuk-table__cell eligible-colour">-->
        <!--          <span class="nhsuk-table-responsive__heading">Eligibility </span>-->
        <!--          <span class="eligibility-text">-->
        <!--            Eligible-->
        <!--          </span>-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell name-detail ">-->
        <!--          <span class="nhsuk-table-responsive__heading">Name </span>-->
        <!--          Adapt CeraRing convex barrier ring 89530 30mm 10 device-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell reimbursement-date">-->
        <!--          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>-->
        <!--          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>-->
        <!--          01-05-2022-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell">-->
        <!--          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>-->
        <!--          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>-->
        <!--          2.0-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell price-update">-->
        <!--          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>-->
        <!--          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>-->
        <!--          2385-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell price-update">-->
        <!--          <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>-->
        <!--          <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>-->
        <!--          2385.0322-->
        <!--        </td>-->
        <!--        <td role="cell" class="nhsuk-table__cell">-->
        <!--          <span class="nhsuk-table-responsive__heading">Remove</span>-->
        <!--          <a href="#">Remove</a>-->
        <!--        </td>-->
        <!--      </tr>-->
      </tbody>
    </table>

    <table role="table" class="nhsuk-table-responsive selections" style="margin-bottom: 24px;">
      <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-4">Price update for Hollister Ltd</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <!--th role="columnheader" scope="col">
            Eligibility
          </th-->
          <th role="columnheader" class="name-header" scope="col">
            Name
          </th>
          <th role="columnheader" class="" scope="col"><span class="nhsuk-u-visually-hidden">Reimbursement</span>
            Date
          </th>
          <th role="columnheader" class="" scope="col">
            GDP
          </th>
          <th role="columnheader" class="" scope="col">
            Price
          </th>
          <th role="columnheader" class="" scope="col">
            Unrounded price
          </th>

        </tr>
      </thead>

      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail ">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>
        <tr role="row" class="nhsuk-table__row">
          <!--td role="cell" class="nhsuk-table__cell ineligible-colour">
            <span class="nhsuk-table-responsive__heading">Eligibility </span>
            <span class="eligibility-text">
              Ineligible
            </span>
          </td-->
          <td role="cell" class="nhsuk-table__cell name-detail">
            <span class="nhsuk-table-responsive__heading">Name </span>
            Adapt CeraRing barrier ring 8805 48mm x 4.45mm 10 device
          </td>
          <td role="cell" class="nhsuk-table__cell reimbursement-date">
            <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
            <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
            01-05-2022
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
            2.0
          </td>
          <td role="cell" class="nhsuk-table__cell price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
            2364
          </td>
          <td role="cell" class="nhsuk-table__cell unrounded-price-update">
            <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
            <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
            2363.7827
          </td>

        </tr>

      </tbody>
    </table>

    <div id="pagination">
      <nav aria-label="Pagination Navigation">
        <ul class="pagination nhsuk-u-margin-bottom-0">
          <!-- Previous Button -->
          <li class="pagination__item">Previous</li>
          <li class="pagination__item">|</li>
          <!-- First Page -->
          <!-- Page Numbers -->
          <li class="pagination__item">
            <!-- Not this page! -->
            <!-- This page! -->
            <p class="pagination__link nhsuk-u-font-weight-bold" aria-current="true" id="1">1</p>
          </li>
          <li class="pagination__item">
            <!-- Not this page! -->
            <a class="pagination__link" href="#" id="2">2</a>
            <!-- This page! -->
          </li>

          <!-- Next Page -->

          <li class="pagination__item">|</li>

          <!-- Next Button -->
          <li class="pagination__item"><a href="#">Next</a></li>

        </ul>
      </nav>
    </div>


  </div>
</div>
<script>

  console.log(localStorage);

  const allSelections = document.getElementsByClassName("all-selections");
  const selections = document.getElementsByClassName("selections");

  if (localStorage.getItem("all-selections") != 'yes') {
    allSelections[0].style.display = "none";
    allSelections[1].style.display = "none";
  } else if ((localStorage.getItem("not-all-selections") != 'yes')) {
    selections[0].style.display = "none";
    selections[1].style.display = "none";
  }

  let reimbursementDate = document.getElementsByClassName("reimbursement-date");
  console.log('reimbursementDate', reimbursementDate);

  if (localStorage.getItem("date-amend-month") != null && localStorage.getItem("date-amend") == 'yes') {
    for (let i = 0; i < reimbursementDate.length; i++) {
      reimbursementDate[i].innerHTML = '<span class="nhsuk-table-responsive__heading">Reimbursement date</span><span class="nhsuk-u-visually-hidden">Reimbursement date</span>' + localStorage.getItem("date-amend-month");
      console.log(reimbursementDate[i].innerHTML);
    }
    if (localStorage.getItem("date-amend") == 'no') {
      reimbursementDate[i].innerHTML = '<span class="nhsuk-table-responsive__heading">Reimbursement date</span><span class="nhsuk-u-visually-hidden">Reimbursement date</span>01-05-2022';
    }
  }

  let reimbursementPrice = document.getElementsByClassName("price-update");
  let reimbursementUnroundedPrice = document.getElementsByClassName("unrounded-price-update");

  if (localStorage.getItem("price-amend-pence") != null && localStorage.getItem("price-amend") == 'yes') {

    let roundedPrice = Math.round(localStorage.getItem("price-amend-pence"));

    for (let i = 0; i < reimbursementPrice.length; i++) {
      console.log(reimbursementPrice[i].innerHTML);
      reimbursementPrice[i].innerHTML = '<span class="nhsuk-table-responsive__heading">Reimbursement price</span><span class="nhsuk-u-visually-hidden">Reimbursement price</span>' + roundedPrice;
    }

    for (let i = 0; i < reimbursementUnroundedPrice.length; i++) {
      reimbursementUnroundedPrice[i].innerHTML = '<span class="nhsuk-table-responsive__heading">Reimbursement unrounded price</span><span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>' + localStorage.getItem("price-amend-pence");
    }

    if (localStorage.getItem("price-amend") == 'no') {

      reimbursementPrice[i].innerText = '<span class="nhsuk-table-responsive__heading">Reimbursement price</span><span class="nhsuk-u-visually-hidden">Reimbursement price</span>2364';
      reimbursementUnroundedPrice[i].innerText = '<span class="nhsuk-table-responsive__heading">Reimbursement price</span><span class="nhsuk-u-visually-hidden">Reimbursement price</span>2363.7827';

    }


  }


</script>
{% endblock %}