{% extends "base-full.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="date-amend-yes-or-no">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to require date amend</a>
    </div>
    <h1 class="heading-xlarge">Actual Part IX Quick Price Update</h1>

    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What is the new reimbursement date?
        </h1>
      </legend>

      <div class="nhsuk-hint">
        You can only amend the reimbursement date to one of the following months.
      </div>

      <div class="nhsuk-form-group">

        <div class="nhsuk-radios">

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-1" name="date-amend-month" type="radio" value="01-02-2022">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
              01 Feb 2022
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="date-amend-month" type="radio" value="01-03-2022">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              01 Mar 2022
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-3" name="date-amend-month" type="radio" value="01-04-2022">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
              01 Apr 2022
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-4" name="date-amend-month" type="radio" value="01-05-2022">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
              01 May 2022
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-5" name="date-amend-month" type="radio" value="01-06-2022">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-5">
              01 Jun 2022
            </label>
          </div>

        </div>
      </div>

    </fieldset>

    <a class="nhsuk-button" onclick="storeDateAmendMonth()"
       href="price-amend-yes-or-no.html">Continue</a>

  </div>
</div>

<script>
  console.log(localStorage);
  let radioDateAmendMonthButtons = document.getElementsByName("date-amend-month");
  let dateAmendMonth = localStorage.getItem("date-amend-month");

  for (let radio of radioDateAmendMonthButtons) {
            if (dateAmendMonth === radio.value) {
                radio.checked = true;
            }
        }

  function storeDateAmendMonth() {
        for (let radio of radioDateAmendMonthButtons) {
            if (radio.checked) {
                localStorage.setItem("date-amend-month", radio.value);
            }
        }
    }

</script>
{% endblock %}