{% extends "base-large.html" %}
{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="/trade-families/tf/link-amps-summary?create">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <span class="nhsuk-caption-l" id="update-associated-vtm-sub-heading">Create new trade family</span>
        <span class="nhsuk-u-visually-hidden"> - </span>
        <h1 class="nhsuk-heading-xl" id="update-associated-vtm-heading">Summary</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">New trade family</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Anadin Extra
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    12 February 2026
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> start date</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    End date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    01 February 3456
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> end date</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <h2 class="nhsuk-heading-m">Linked AMPs</h2>
            </div>
            <div class="nhsuk-grid-column-one-half">
                <a href="/trade-families/tf/amp-search" style="float: right;">
                    Change<span class="nhsuk-u-visually-hidden"> linked AMPs</span>
                </a>
            </div>
        </div>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-4">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="nhsuk-table__header-identifier columnheader-sticky" scope="col"
                        id="associated-vtm-table--tag-header" style="width: 10px;">
                        <span class="nhsuk-u-visually-hidden">Indicator</span>
                    </th>
                    <th role="columnheader" class="columnheader-sticky" scope="col"
                        id="associated-vtm-table--name-header">
                        Name
                    </th>
                    <th role="columnheader" class="columnheader-sticky" scope="col"
                        id="associated-vtm-table--name-header">
                        Supplier
                    </th>
                    <th role="columnheader" class="columnheader-sticky start-end-date-column" scope="col"
                        id="associated-vtm-table--start-date-header">
                        Start date
                    </th>
                    <th role="columnheader" class="columnheader-sticky start-end-date-column" scope="col"
                        id="associated-vtm-table--end-date-header">
                        End date
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row temporal-future-dated">
                    <td role="cell" class="nhsuk-table__cell-historic">
                        <span class="nhsuk-table-responsive__heading">Indicator </span>
                        <span id="associated-vtm-table--current-tag-value-current">
                            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Future Dated</span>
                            <strong class="nhsuk-tag nhsuk-tag--purple">
                                F
                            </strong>
                        </span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Name</span>
                        <span id="associated-vtm-table--name-0">Anadin Future Tablets</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier</span>
                        <span id="associated-vtm-table--name-0">Haleon UK Trading Ltd</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">Start date</span>


                        <span id="associated-vtm-table--start-date-aria-0"
                            class="nhsuk-u-visually-hidden stop-user-selection">6 February 2027</span>


                        <span id="associated-vtm-table--start-date-0" aria-hidden="true">06-02-2027</span>

                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">End date</span>



                        <span class="nhsuk-u-visually-hidden stop-user-selection"
                            id="associated-vtm-table--end-date-aria-0">End of time
                        </span>

                        <span id="associated-vtm-table--end-date-0" aria-hidden="true">01-02-3456</span>

                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell-historic">
                        <span class="nhsuk-table-responsive__heading">Indicator </span>
                        <span id="associated-vtm-table--current-tag-value-current">
                            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Future Dated</span>
                        </span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Name</span>
                        <span id="associated-vtm-table--name-0">Anadin Extra soluble tablets</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier</span>
                        <span id="associated-vtm-table--name-0">Haleon UK Trading Ltd</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">Start date</span>


                        <span id="associated-vtm-table--start-date-aria-0"
                            class="nhsuk-u-visually-hidden stop-user-selection">6 February 2027</span>


                        <span id="associated-vtm-table--start-date-0" aria-hidden="true">06-02-2027</span>

                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">End date</span>



                        <span class="nhsuk-u-visually-hidden stop-user-selection"
                            id="associated-vtm-table--end-date-aria-0">End of time
                        </span>

                        <span id="associated-vtm-table--end-date-0" aria-hidden="true">01-02-3456</span>

                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell-historic">
                        <span class="nhsuk-table-responsive__heading">Indicator </span>
                        <span id="associated-vtm-table--current-tag-value-current">
                            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Future Dated</span>
                        </span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Name</span>
                        <span id="associated-vtm-table--name-0">Anadin Extra tablets</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier</span>
                        <span id="associated-vtm-table--name-0">Haleon UK Trading Ltd</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">Start date</span>


                        <span id="associated-vtm-table--start-date-aria-0"
                            class="nhsuk-u-visually-hidden stop-user-selection">6 February 2027</span>


                        <span id="associated-vtm-table--start-date-0" aria-hidden="true">06-02-2027</span>

                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">End date</span>
                        <span class="nhsuk-u-visually-hidden stop-user-selection"
                            id="associated-vtm-table--end-date-aria-0">End of time
                        </span>

                        <span id="associated-vtm-table--end-date-0" aria-hidden="true">01-02-3456</span>

                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell-historic">
                        <span class="nhsuk-table-responsive__heading">Indicator </span>
                        <span id="associated-vtm-table--current-tag-value-current">
                            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Future Dated</span>
                        </span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Name</span>
                        <span id="associated-vtm-table--name-0">Anadin Extra</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier</span>
                        <span id="associated-vtm-table--name-0">Novo Nordisk Ltd</span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">Start date</span>


                        <span id="associated-vtm-table--start-date-aria-0"
                            class="nhsuk-u-visually-hidden stop-user-selection">6 February 2027</span>


                        <span id="associated-vtm-table--start-date-0" aria-hidden="true">06-02-2027</span>

                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u--table-date-width">
                        <span class="nhsuk-table-responsive__heading">End date</span>



                        <span class="nhsuk-u-visually-hidden stop-user-selection"
                            id="associated-vtm-table--end-date-aria-0">End of time
                        </span>

                        <span id="associated-vtm-table--end-date-0" aria-hidden="true">01-02-3456</span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="nhsuk-grid-row">
    <a href="/trade-families/tf/view-tf" class="nhsuk-button">Save and create</a>
    <a href="/trade-families/tf-table-view" class="nhsuk-button nhsuk-button--secondary">Cancel</a>
</div>

{% endblock %}