{% extends "base-large.html" %}
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="view-tf.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <br />
    <h1 class="nhsuk-heading-xl">Delete "1 Primary wound" trade family</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label"> <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          <span id="warning-title">Are you sure you want to delete this trade family?</span>
        </span> </h3>
      <span class="nhsuk-heading-m">What this means</span>
      <p id="warning-text">You will be removing this trade family.</p>
    </div>
  </div>
</div>

<a href="/trade-families/tf-table-view?deletedTf" class="nhsuk-button" id="delete-button">Continue</a>
<a href="view-tf?unlinkedAll" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Cancel
</a>

{% endblock %}