{% extends "base-large.html" %}
{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="tfg-table-view">Trade
                    family
                    groups</a></li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" id="back-link" href="amp-search">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <span class="nhsuk-caption-l" id="update-associated-vtm-sub-heading">Update associated AMPs</span>
        <span class="nhsuk-u-visually-hidden"> - </span>
        <h1 class="nhsuk-heading-xl" id="update-associated-vtm-heading">Anadin Extra</h1>

        <div id="error-summary" class="nhsuk-error-summary" data-module="nhsuk-error-summary" style="display: none;">
            <div role="alert">
                <h2 class="nhsuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="nhsuk-error-summary__body">
                    <ul class="nhsuk-list nhsuk-error-summary__list">
                        <li>
                            <a href="#future-start-date-day">Effective date must match AMP's effective date</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="amp-0">
            <div class="nhsuk-grid-column-full update-box">
                <!--Current name-->
                <fieldset class="nhsuk-fieldset">
                    <legend id="vtm-0-name-legend" class="nhsuk-fieldset__legend--m update-general-heading">Anadin
                        Future Tablets (Haleon UK Trading Ltd)</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.name" name="values[0].name"
                        value="Parabuthus species scorpion venom antiserum">

                    <div class="nhsuk-grid-column-full" id="error-summary-container" style="display: none;">
                        <span id="dob-day-error-error" class="nhsuk-error-message">
                            <span class="nhsuk-u-visually-hidden">Error:</span> Effective date must match AMP's
                            effective date
                        </span>
                    </div>

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div id="future-start-date-container" class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-start-date-legend">
                                Start date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-start-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-day"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="future-start-date-day" type="text"
                                                name="values[0].startDate.day" value="06" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-month"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="future-start-date-month"
                                                type="text" name="values[0].startDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-year"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="future-start-date-year"
                                                type="text" name="values[0].startDate.year" value="2027" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div id="future-end-date-container" class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-end-date-heading">
                                End date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-end-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-day"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-day" type="text"
                                                name="values[0].endDate.day" value="01" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-month"><span class="nhsuk-u-visually-hidden">End
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-month" type="text"
                                                name="values[0].endDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-year"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-end-date-year" type="text"
                                                name="values[0].endDate.year" value="3456" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nhsuk-grid-column-full">
                        <a class="nhsuk-button nhsuk-button--secondary">Remove AMP</a>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-grid-column-full skip-links" style="margin-bottom: 16px;">
                <a class="nhsuk-back-to-top__link" href="#submit">
                    <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-attributes-sub-heading">
                    <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Back to top</a>
            </div>
        </section>

        <section id="amp-00">
            <div class="nhsuk-grid-column-full update-box">
                <!--Current name-->
                <fieldset class="nhsuk-fieldset">
                    <legend id="vtm-0-name-legend" class="nhsuk-fieldset__legend--m update-general-heading">Anadin Extra
                        soluble tablets (Haleon UK Trading Ltd)</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.name" name="values[0].name"
                        value="Parabuthus species scorpion venom antiserum">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-start-date-legend">
                                Start date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-start-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-day"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-day" type="text"
                                                name="values[0].startDate.day" value="06" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-month"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-month"
                                                type="text" name="values[0].startDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-year"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-start-date-year" type="text"
                                                name="values[0].startDate.year" value="2027" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-end-date-heading">
                                End date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-end-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-day"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-day" type="text"
                                                name="values[0].endDate.day" value="01" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-month"><span class="nhsuk-u-visually-hidden">End
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-month" type="text"
                                                name="values[0].endDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-year"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-end-date-year" type="text"
                                                name="values[0].endDate.year" value="3456" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nhsuk-grid-column-full">
                        <a class="nhsuk-button nhsuk-button--secondary">Remove AMP</a>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-grid-column-full skip-links" style="margin-bottom: 16px;">
                <a class="nhsuk-back-to-top__link" href="#submit">
                    <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-attributes-sub-heading">
                    <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Back to top</a>
            </div>
        </section>

        <section id="amp-1">
            <div class="nhsuk-grid-column-full update-box">
                <!--Current name-->
                <fieldset class="nhsuk-fieldset">
                    <legend id="vtm-0-name-legend" class="nhsuk-fieldset__legend--m update-general-heading">Anadin Extra
                        tablets (Haleon UK Trading Ltd)</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.name" name="values[0].name"
                        value="Parabuthus species scorpion venom antiserum">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-start-date-legend">
                                Start date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-start-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-day"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-day" type="text"
                                                name="values[0].startDate.day" value="06" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-month"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-month"
                                                type="text" name="values[0].startDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-year"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-start-date-year" type="text"
                                                name="values[0].startDate.year" value="2027" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-end-date-heading">
                                End date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-end-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-day"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-day" type="text"
                                                name="values[0].endDate.day" value="01" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-month"><span class="nhsuk-u-visually-hidden">End
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-month" type="text"
                                                name="values[0].endDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-year"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-end-date-year" type="text"
                                                name="values[0].endDate.year" value="3456" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nhsuk-grid-column-full">
                        <a class="nhsuk-button nhsuk-button--secondary">Remove AMP</a>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-grid-column-full skip-links" style="margin-bottom: 16px;">
                <a class="nhsuk-back-to-top__link" href="#submit">
                    <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-attributes-sub-heading">
                    <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Back to top</a>
            </div>
        </section>

        <section id="amp-2">
            <div class="nhsuk-grid-column-full update-box">
                <!--Current name-->
                <fieldset class="nhsuk-fieldset">
                    <legend id="vtm-0-name-legend" class="nhsuk-fieldset__legend--m update-general-heading">Anadin Extra
                        (Novo Nordisk Ltd)</legend>
                    <input class="nhsuk-input" type="hidden" id="values0.name" name="values[0].name"
                        value="Parabuthus species scorpion venom antiserum">

                    <!--Start Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-start-date-legend">
                                Start date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-start-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-day"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-day" type="text"
                                                name="values[0].startDate.day" value="06" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-month"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-start-date-month"
                                                type="text" name="values[0].startDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-start-date-year"><span class="nhsuk-u-visually-hidden">Start
                                                    date </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-start-date-year" type="text"
                                                name="values[0].startDate.year" value="2027" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End Date-->
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m"
                                id="vtm-0-end-date-heading">
                                End date
                            </legend>

                            <div class="nhsuk-form-group">
                                <div class="nhsuk-date-input" id="vtm-0-end-date">
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-day"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Day</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-day" type="text"
                                                name="values[0].endDate.day" value="01" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-month"><span class="nhsuk-u-visually-hidden">End
                                                    date </span>Month</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                inputmode="numeric" maxlength="2" id="vtm-0-end-date-month" type="text"
                                                name="values[0].endDate.month" value="02" />
                                        </div>
                                    </div>
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label"
                                                for="vtm-0-end-date-year"><span class="nhsuk-u-visually-hidden">End date
                                                </span>Year</label>
                                            <input
                                                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                inputmode="numeric" maxlength="4" id="vtm-0-end-date-year" type="text"
                                                name="values[0].endDate.year" value="3456" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nhsuk-grid-column-full">
                        <a class="nhsuk-button nhsuk-button--secondary">Remove AMP</a>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-grid-column-full skip-links" style="margin-bottom: 16px;">
                <a class="nhsuk-back-to-top__link" href="#submit">
                    <svg class="nhsuk-icon skip-to-bottom-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Skip to bottom </a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a class="nhsuk-back-to-top__link" href="#update-attributes-sub-heading">
                    <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                        </path>
                    </svg>
                    Back to top</a>
            </div>
        </section>

        <a class="nhsuk-button nhsuk-u-margin-top-5" id="continue-button" onclick="validateEntityDate()">Continue</a>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(globalThis.window.location.search);
    let href = 'link-amps-confirm';

    if (urlParams.has('create')) {
        document.getElementById('update-associated-vtm-sub-heading').innerText = "Create new trade family";
        href = '/trade-families/tf/create/confirm-new-tf';
        document.getElementById('back-link').setAttribute('href', 'amp-search?searched&create');
    }

    function validateEntityDate() {
        const entityStartDay = '06';
        const entityStartMonth = '02';
        const entityStartYear = '2027';

        const actualStartDay = document.getElementById('future-start-date-day').value;
        const actualStartMonth = document.getElementById('future-start-date-month').value;
        const actualStartYear = document.getElementById('future-start-date-year').value;

        if (entityStartDay !== actualStartDay || entityStartMonth !== actualStartMonth || entityStartYear !== actualStartYear) {
            // throw validation
            document.getElementById('error-summary').style = '';
            document.location.href = '#error-summary';
            document.getElementById('error-summary-container').style = '';
            document.getElementById('future-start-date-container').classList.add('nhsuk-form-group--error');
            document.getElementById('future-end-date-container').classList.add('nhsuk-form-group--error');
            return;
        }

        document.location.href = href;
    }
</script>
{% endblock %}