{% extends "tce-2465/base2.html" %}
{% block content %}
<div class="nhsuk-grid-row">
    <div id="content-pane" class="nhsuk-grid-column-full">

        <form method="post">
            <input name="_csrf"
                value="bUSO6Pa7MWL61M6Eo2hPlexM-t6eoQLe-ELVh1HsfNBgGsNtWHe32MDfU1DXsaq2kkV79N4o17__mWTzySCxtWbdRLUCLvtb"
                type="hidden">


            <span class="nhsuk-caption-l" id="update-uom-snomed-code-heading-sub-heading">Update SNOMED code</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
            <h1 class="nhsuk-heading-xl" id="update-uom-snomed-code-heading-heading">ampoule</h1>




            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-grid-column-full update-box">
                        <fieldset class="nhsuk-fieldset" aria-describedby="update-snomed-code-hint" role="group">
                            <legend id="code-legend-value" class="nhsuk-fieldset__legend--l update-general-heading">
                                SNOMED code</legend>

                            <div class="nhsuk-grid-column-full">
                                <div class="nhsuk-hint" id="update-snomed-code-hint">
                                    You may select 'Assign core SNOMED code' or 'Assign UK extension code' to update the
                                    current
                                    SNOMED code with a new one.
                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-half">
                                <div class="nhsuk-form-group">
                                    <div class="nhsuk-u-margin-right-2">
                                        <div class="nhsuk-grid-column-two-thirds">
                                            <div class="nhsuk-form-group">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                                    Description
                                                </legend>
                                                <div>
                                                    <div>

                                                    </div>
                                                    <div class="nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-6">


                                                        <span class="nhsuk-u-font-size-19">Current SNOMED code:</span>
                                                        <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"
                                                            field="413516001"
                                                            id="original-snomed-code-value">413516001</span>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nhsuk-grid-column-full">
                                        <button class="nhsuk-button nhsuk-button--secondary"
                                            id="update-snomed-code-button" name="_eventId_updateSnomed" type="submit">
                                            Assign core SNOMED code
                                        </button>
                                        <button class="nhsuk-button nhsuk-button--secondary"
                                            id="update-snomed-uk-extension-code-button"
                                            formaction="/update/code-maintenance/uom?execution=e1s1&amp;_eventId=updateSnomedUkExtension"
                                            type="submit">
                                            Assign UK extension code
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!--Start Date-->
                            <div class="nhsuk-grid-column-one-quarter">
                                <div class="nhsuk-form-group">
                                    <legend id="start-date-legend" class="nhsuk-fieldset__legend--m">
                                        Start Date
                                    </legend>
                                    <div aria-live="polite" class="visually-hidden" id="start-date-hidden"></div>

                                    <div class="nhsuk-form-group">

                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div class="nhsuk-date-input" id="start-date">
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="start-date-day"><span class="nhsuk-u-visually-hidden">Start
                                                            date </span>Day</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                        inputmode="numeric" maxlength="2" id="start-date-day"
                                                        type="text" name="startDate.day" value="01">
                                                </div>
                                            </div>
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="start-date-month"><span
                                                            class="nhsuk-u-visually-hidden">Start date
                                                        </span>Month</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                        inputmode="numeric" maxlength="2" id="start-date-month"
                                                        type="text" name="startDate.month" value="10">
                                                </div>
                                            </div>
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="start-date-year"><span
                                                            class="nhsuk-u-visually-hidden">Start date
                                                        </span>Year</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                        inputmode="numeric" maxlength="4" id="start-date-year"
                                                        type="text" name="startDate.year" value="2007">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--EndDate-->
                            <div class="nhsuk-grid-column-one-quarter">
                                <div class="nhsuk-form-group">
                                    <legend id="end-date-legend" class="nhsuk-fieldset__legend--m">
                                        End Date
                                    </legend>
                                    <div aria-live="polite" class="visually-hidden" id="end-date-hidden"></div>

                                    <div class="nhsuk-form-group">

                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div class="nhsuk-date-input" id="end-date">
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="end-date-day"><span class="nhsuk-u-visually-hidden">End
                                                            date </span>Day</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                        inputmode="numeric" maxlength="2" id="end-date-day" type="text"
                                                        name="endDate.day" value="01">
                                                </div>
                                            </div>
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="end-date-month"><span class="nhsuk-u-visually-hidden">End
                                                            date </span>Month</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 js-paste-date"
                                                        inputmode="numeric" maxlength="2" id="end-date-month"
                                                        type="text" name="endDate.month" value="02">
                                                </div>
                                            </div>
                                            <div class="nhsuk-date-input__item">
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label nhsuk-date-input__label"
                                                        for="end-date-year"><span class="nhsuk-u-visually-hidden">End
                                                            date </span>Year</label>
                                                    <input
                                                        class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 js-paste-date"
                                                        inputmode="numeric" maxlength="4" id="end-date-year" type="text"
                                                        name="endDate.year" value="3456">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button class="nhsuk-button nhsuk-button--reverse" type="button"
                                onclick="setLastDayOfPreviousMonth(this)">
                                End Attribute
                            </button>
                            </div>

                        </fieldset>
                    </div>
                    <button class="nhsuk-button nhsuk-button--primary" id="submit" name="_eventId_submit"
                        type="submit">Continue
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function setLastDayOfPreviousMonth(button) {
        // Find the nearest parent with class "nhsuk-date-input"
        const dateContainer = button.closest('.nhsuk-grid-column-one-quarter')
            ?.querySelector('.nhsuk-date-input');

        if (!dateContainer) return;

        const dayInput = dateContainer.querySelector('input[id$="-day"]');
        const monthInput = dateContainer.querySelector('input[id$="-month"]');
        const yearInput = dateContainer.querySelector('input[id$="-year"]');

        if (!dayInput || !monthInput || !yearInput) return;

        // Calculate yesterday's date instead of last day of previous month
        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);

        // Pad values for consistency
        const day = String(yesterday.getDate()).padStart(2, '0');
        const month = String(yesterday.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed
        const year = yesterday.getFullYear();

        // Set values
        dayInput.value = day;
        monthInput.value = month;
        yearInput.value = year;
    }
</script>
{% endblock %}