{% extends "base.html" %}
{% block content %}
<div class="nhsuk-grid-row">
  <a href="../index.html">Home</a><p></p>

    <span class="nhsuk-caption-l">
                Add VMPP's
      <span class="nhsuk-u-visually-hidden"> - </span>
    </span>
    <h1 class="heading-xlarge">Insert VMPP Combination Pack</h1>

  <label class="nhsuk-caption-m">
    VMP name
  </label>
  <h3>Generic Fortisip Compact Starter Pack liquid</h3>
</div>
    <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full">
            <h2><p></p>Added VMPP's</h2>
            <p>Search for a VMP below and add the associated VMPP's as required</p>
            <h2>Search for VMP</h2>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="example">
                VMP Search
              </label>
              <input class="nhsuk-input" id="example" name="example" type="text">
            </div>
            <div class="nhsuk-grid-column-full">
              <a href="associated-vmp-results.html" style="float: right" class="nhsuk-button nhsuk-button--secondary" type="submit">
                Search
              </a>
            </div>
      </div>
    </div>

</div>
{% endblock %}