{% extends "base.html" %}
{% block content %}
<div class="nhsuk-grid-row">
  <a href="../index.html">Home</a><p></p>

  <h1 class="heading-xlarge">Insert VMPP Combination Pack</h1>
  <h2 class="nhsuk-heading-l">Summary</h2>
  <label class="nhsuk-caption-m">
    VMP name
  </label>
  <h3>Generic Fortisip Compact Starter Pack liquid</h3>
  <label class="nhsuk-caption-m">
    VMPP combination pack name
  </label>
  <h4>Generic Fortisip Compact Starter Pack liquid (250 ml)</h4>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-column-full">

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Start date</dt>
          <dd class="nhsuk-summary-list__value">13/05/2021</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Quantity</dt>
          <dd class="nhsuk-summary-list__value">300</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">UOM</dt>
          <dd class="nhsuk-summary-list__value">ml</dd>
        </div>
      </dl>

    </div>
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-heading-l">Associated VMPP's</h2>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">15889211000001103</dt>
          <dd class="nhsuk-summary-list__value">Generic Fortisip Compact liquid 125ml</dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">15889411000001104</dt>
          <dd class="nhsuk-summary-list__value">Fortisip Compact liquid strawberry 125ml</dd>
        </div>
      </dl>
    </div>


  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <a class="nhsuk-button" href="/index">
      Save
    </a>
  </div>
</div>
{% endblock %}