{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../product-list.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back</a>
    </div>
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l" id="update-attributes-sub-heading">Action product</span>
      <span class="nhsuk-u-visually-hidden"> - </span>
      <h1 class="nhsuk-heading-xl" id="update-attributes-heading">Paracetamol 10mg suppositories - 24 Tablets</h1>

    </div>

      <p>Since this VMPP needs moving from SCDD to PCDD,
        some additional information is required before this is done.</p>


      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="insert-vmpp-minimum-quantity">Minimum Quantity</label>

        <input autofocus="autofocus" class="nhsuk-input" id="insert-vmpp-minimum-quantity"
               name="minimumQuantity" step="any" type="number" value="0">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="insert-vmpp-minimum-quantity">Maximum Quantity</label>

        <input autofocus="autofocus" class="nhsuk-input" id="insert-vmpp-maximum-quantity"
               name="maximumQuantity" step="any" type="number" value="9999">
      </div>


      <a class="nhsuk-button" href="vmpp-scdd-to-pcdd-summary.html">Continue</a>


  </div>
</div>
{% endblock %}