{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="../product-list.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back</a>
    </div>
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l" id="update-attributes-sub-heading">Action product summary</span>
      <span class="nhsuk-u-visually-hidden"> - </span>
      <h1 class="nhsuk-heading-xl" id="update-attributes-heading">Paracetamol 1mg - 24 Tablets</h1>

    </div>

    <section class="nhsuk-u-padding-bottom-4" id="attribute-summary-section">

      <h2 class="nhsuk-heading-l">Attribute details</h2>
      <div class="nhsuk-table-responsive">
      <table class="nhsuk-table" role="table">
        <thead class="nhsuk-table__head" id="attributes-table-head" role="rowgroup">
        <tr role="row">
          <th class="nhsuk-table__header-identifier columnheader-sticky" id="attribute-table--tag-header" role="columnheader" scope="col" style="width: 10px;">
            <span class="nhsuk-u-visually-hidden">Indicator</span>
          </th>

          <th class="columnheader-sticky" id="attribute-table--name-header" role="columnheader" scope="col">
            <label for="attribute-table--name-filter-input" id="attribute-table--name-header-span">
              Attribute name
              <br>
            </label>
            <input class="attribute-table--name-filter-input-hidden" id="attribute-table--name-filter-input" type="text">
          </th>
          <th class="columnheader-sticky" id="attribute-table--description-header" role="columnheader" scope="col">
            Value
          </th>
          <th class="columnheader-sticky start-end-date-column" id="attribute-table--start-date-header" role="columnheader" scope="col">
            Start date
          </th>
          <th class="columnheader-sticky start-end-date-column" id="attribute-table--end-date-header" role="columnheader" scope="col">
            End date
          </th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Drug Tariff Payment Category</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>Part VIIIA Category C</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Drug Tariff Price</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>350</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Reimbursement Price DT</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>350</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Price Concession Indicator</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>Part VIIIA Price Concession</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Special Container</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>Special container</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Calendar Pack Indicator</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>Calendar pack</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Numeric Sub Pack Size</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>2</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Minimum Quantity</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>0</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Maximum Quantity</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>400</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Velocity Code</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>5386453864</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>Usually Expensive Indicator</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>12</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>

        <tr class="nhsuk-table__row temporal-current temporal-historic" role="row">

          <td class="nhsuk-table__cell-historic" role="cell">
            <span class="nhsuk-table-responsive__heading">Indicator </span>
            <span>
            <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Historic</span>
              <strong class="nhsuk-tag nhsuk-tag--orange">
                <abbr title="Historic">H</abbr>
              </strong>
            </span>
          </td>

          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Attribute name </span>
            <span>DT Reconstitution Indicator</span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Description </span>
            <span>DT Reconstitution</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>01-02-2010</span>
          </td>

          <td class="nhsuk-table__cell nhsuk-u--table-date-width">
            <span class="nhsuk-table-responsive__heading">End date</span>
            <span>24-03-2022</span>
          </td>
        </tr>



        </tbody>
      </table>

      </div>
    </section>
    <a class="nhsuk-button" href="../product-list.html">Submit</a>


  </div>
</div>
{% endblock %}