{% extends "base-full.html" %}
{% block content %}
<div class="nhsuk-width-container">

  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="/part-8a/effective-date">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>

  <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <h1>Prices updates successfully</h1>
        <p>You have successfully updated prices for the following AMPs</p>
        <div>
          <h2>Updated drug prices for Sandoz Ltd</h2>
          <div class="nhsuk-body-m flex--space-between">
            <div class="nhsuk-u-visually-hidden">Currently viewing </div>
            <div id="pageAndResultCount">Page 1 of 3 - 51 total results</div>
            <div class="nhsuk-u-text-align--right">
              <!--   TODO Setup formData parameter handling   -->
              
              <div>
                <span>Page size:</span>
                <span class="nhsuk-u-font-weight-bold">10</span>
                
                
                <a href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/7?ref=YW1wTmFtZT1wYXJhY2V0YW1vbCZzZWFyY2hUeXBlPVZUTSZzaG93SW52YWxpZEl0ZW1zPWZhbHNlJmhpZGVQYXJhbGxlbEltcG9ydD1mYWxzZSZoaWRlU3BlY2lhbE9yZGVyPWZhbHNlJmhpZGVEaXNjb250aW51ZWRJdGVtcz1mYWxzZQ%3D%3D&amp;size=50">50</a>
                
                <a href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/7?ref=YW1wTmFtZT1wYXJhY2V0YW1vbCZzZWFyY2hUeXBlPVZUTSZzaG93SW52YWxpZEl0ZW1zPWZhbHNlJmhpZGVQYXJhbGxlbEltcG9ydD1mYWxzZSZoaWRlU3BlY2lhbE9yZGVyPWZhbHNlJmhpZGVEaXNjb250aW51ZWRJdGVtcz1mYWxzZQ%3D%3D&amp;size=100">100</a>
              </div>
            </div>
          </div>
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Updated prices for Sandoz Ltd</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">Name</th>
                <th role="columnheader" class="" scope="col">Pack </th>
                <!--th role="columnheader" class="" scope="col">Discontinued</th>
                <th role="columnheader" class="" scope="col">Current price</th-->
                <th role="columnheader" class="" scope="col">New price</th>
                <!--th role="columnheader" class="" scope="col">Action</th-->
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 250mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>63 tablets - 3 x 21
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg
                    class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="none" aria-hidden="true" width="34" height="34">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                    </path>
                  </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>1173 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1134  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->


              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="#"
                    class="nhsuk-link nhsuk-link--no-visited-state">Azithromycin 500mg
                    tablets</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pack size</span>48 tablets - 2 x 24
                  tablets
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Discontinued</span><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b">
                  </path>
                </svg>
                </td-->
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Current price</span>2343 

                </td-->
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">New price</span>1234  
                        
                </td>
                <!--td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span><a href="/part-8a/results"
                    class="nhsuk-link nhsuk-link--no-visited-state">Change price</a>
                </td-->

              </tr>





            </tbody>
          </table>
          <br>
          <nav aria-label="Pagination Navigation">
            <ul class="nhsuk-table-pagination" id="pagination">
        
              <li class="nhsuk-u-margin-right-3" id="linkFirst">&lt;&lt; first</li>
              
              <li id="linkPrevious">&lt; previous</li>
              
        
              <li><span class="nhsuk-u-visually-hidden">Currently viewing </span><span id="pageNumber">Page 1 of 3</span></li>
        
              
              <li id="linkNext"><a aria-label="Goto next page" href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/7?ref=YW1wTmFtZT1wYXJhY2V0YW1vbCZzZWFyY2hUeXBlPVZUTSZzaG93SW52YWxpZEl0ZW1zPWZhbHNlJmhpZGVQYXJhbGxlbEltcG9ydD1mYWxzZSZoaWRlU3BlY2lhbE9yZGVyPWZhbHNlJmhpZGVEaXNjb250aW51ZWRJdGVtcz1mYWxzZQ%3D%3D&amp;page=2">next &gt;</a></li>
              
              <li id="linkLast" class="nhsuk-u-margin-left-3"><a aria-label="Goto last page" href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/7?ref=YW1wTmFtZT1wYXJhY2V0YW1vbCZzZWFyY2hUeXBlPVZUTSZzaG93SW52YWxpZEl0ZW1zPWZhbHNlJmhpZGVQYXJhbGxlbEltcG9ydD1mYWxzZSZoaWRlU3BlY2lhbE9yZGVyPWZhbHNlJmhpZGVEaXNjb250aW51ZWRJdGVtcz1mYWxzZQ%3D%3D&amp;page=3">last &gt;&gt;</a></li>
        
            </ul>
          </nav>
        </div>
<br>
<br>

        <div>
          <h2>Reimbursement Dates</h2>
         
          <div><p>Proprietary Reimbursement Date is set for <strong>November 2024</strong></p></div>
          <div><p>Generic Reimbursement Date is set for <strong>November 2024</strong></p></div>

          <div><p>Drug Tariff Date is set for <strong>November 2024</strong></p></div>
         


        </div>



        <a class="nhsuk-button nhsuk-button--secondary" href="/" role="button" draggable="false">Return to homepage</a>



      </div>
    </div>

  </main>
</div>
{% endblock %}