{% extends "base-large.html" %}
{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="tfg-table-view">Trade
          family
          groups</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
<div id="content-pane" class="side-tree-view">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <nav class="app-side-nav" role="navigation">
        <h2 class="app-side-nav__heading">Navigation</h2>
        <ul class="nhsuk-list app-side-nav__list">
          <li class="app-side-nav__item app-side-nav__item--current" aria-current="page">
            <a href="/trade-families/tfg-table-view" class="app-side-nav__link">Trade family groups</a>
          </li>
          <li class="app-side-nav__item">
            <a href="/trade-families/tf-table-view" class="app-side-nav__link">Trade families</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/trade-families/tfg-table-view">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
          </svg>
          Go back</a>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <span class="nhsuk-caption-l">
            Trade family group
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          <h1 class="nhsuk-heading-xl">Anadin</h1>
        </div>
      </div>

      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>

        <ul class="nhsuk-tabs__list">

          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#linked">
              View linked trade families
            </a>
          </li>

          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#summary">
              View summary
            </a>
          </li>

          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#more">
              View more
            </a>
          </li>
        </ul>

        <div class="nhsuk-tabs__panel" id="linked">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h3 class="nhsuk-heading-l">View linked trade families</h3>

              <div id="link-tf-link" class="nhsuk-action-link" style="float: right;">
                <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="tf-search">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Link trade family</span>
                </a>
              </div>

              <h3>Linked trade families</h3>

              <div class="nhsuk-hint">Unlink all trade families before you delete this trade family
                group. To delete
                or invalidate it,
                select the red button at the bottom of the View summary page.
              </div>

              <details class="nhsuk-details nhsuk-details--expanded govuk-!-margin-bottom-4"
                data-module="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Search and filter</span>
                </summary>
                <label for="filter" class="nhsuk-label nhsuk-u-margin-top-5">Filter by
                  name</label>
                <input id="filter" class="nhsuk-input govuk-!-margin-bottom-4" type="text" />

                <div class="nhsuk-details__text">
                  <form>
                    <div class="nhsuk-form-group">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend">
                          Filter by attributes
                        </legend>
                        <div class="nhsuk-checkboxes">
                          <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="valid" name="filter" type="checkbox" checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="valid">
                                  Valid
                                </label>
                              </div>
                            </div>
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="extractable" name="filter" type="checkbox"
                                  checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="extractable">
                                  Extractable
                                </label>
                              </div>
                            </div>
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="future-dated" name="filter" type="checkbox" checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="future-dated">
                                  Show future dated trade families
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="nhsuk-grid-column-full nhsuk-u-margin-top-2">
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="invalid" name="filter" type="checkbox"
                                  checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="invalid">
                                  Invalid
                                </label>
                              </div>
                            </div>
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="unextractable" name="filter" type="checkbox"
                                  checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="unextractable">
                                  Unextractable
                                </label>
                              </div>
                            </div>
                            <div class="nhsuk-u-one-third">
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="historic" name="filter" type="checkbox" checked>
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="historic">
                                  Show historic trade families (Remove?)
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </fieldset>

                      <!--sort by -->
                      <div class="nhsuk-grid-column-full nhsuk-u-margin-top-2" style="display: none;">
                        <div class="nhsuk-form-group">
                          <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

                              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-visually-hidden" for="historic">
                                Sort by
                              </label>
                            </legend>
                            <h3 class="nhsuk-u-margin-5">Sort by</h3>
                            <div class="nhsuk-radios" data-module="nhsuk-radios">
                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input " name="exampleInline" type="radio" value="yes">
                                <label class="nhsuk-label nhsuk-radios__label">
                                  Newest to oldest
                                </label>
                              </div>
                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" name="exampleInline" type="radio" value="no">
                                <label class="nhsuk-label nhsuk-radios__label">
                                  Oldest to newest
                                </label>
                              </div>
                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" name="exampleInline" type="radio" value="no">
                                <label class="nhsuk-label nhsuk-radios__label">
                                  Z to A
                                </label>
                              </div>
                              <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" name="exampleInline" type="radio" value="no">
                                <label class="nhsuk-label nhsuk-radios__label">
                                  A to Z
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <a class="nhsuk-button nhsuk-button--reverse nhsuk-u-float-right nhsuk-u-margin-left-5"
                  style="color: black" id="resetFilters" href="#">Reset filter </a>
                <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-float-right" type="submit" id="searchButton"
                  onclick="displaySelectedCriteria()">Search
                </button>
              </details>
            </div>

            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <p class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-2">
                    Page 1 of 1 (4 total results)
                  </p>
                </div>

                <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
                  <div class="nhsuk-u-font-size-16" id="tablePageSizeControls">
                    <span class="nhsuk-u-margin-right-2">Page size:</span>
                    <span class="nhsuk-u-font-weight-bold nhsuk-u-margin-right-2" aria-current="true">25</span>
                    <a class="nhsuk-u-margin-right-2" aria-label="Page size of 50 results" href="#">50</a>
                    <a aria-label="Page size of 100 results" href="#">100</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form>
            <table class="nhsuk-table-responsive" role="table">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th id="identifier-header" role="columnheader" class="nhsuk-u-visually-hidden" scope="col"
                    style="display: none;">
                    Indicator
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Valid
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Extractable
                  </th>
                                    <th role="columnheader" class="" scope="col">
                                      Trade families start date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                      Trade families end date
                                    </th>
                  <th role="columnheader" class="" scope="col">
                    Select
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr id="future-row" role="row" class="nhsuk-table__row temporal-future-dated" style="display: none;">
                  <td class="nhsuk-table__cell">
                    <strong class="nhsuk-tag nhsuk-tag--purple">F</strong>
                  </td>
                  <td class="nhsuk-table__cell">
                    <a href="view-tf" class="nhsuk-link--no-visited-state">Anadin Future</a>
                  </td>
                  <td class="nhsuk-table__cell">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                  <td class="nhsuk-table__cell">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                                    <td class="nhsuk-table__cell">12-02-2026</td>
                                    <td class="nhsuk-table__cell">01-02-3456</td>
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input checkbox-row-first" id="row-1" name="row-1"
                          type="checkbox">
                        <label class="nhsuk-checkboxes__label" for="row-1">
                          <span class="nhsuk-u-visually-hidden">Select row</span>
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row first-row">
                  <td class="nhsuk-table__cell historic-first" style="display: none;">
                    <strong class="nhsuk-tag nhsuk-tag--orange">H</strong>
                  </td>
                  <td class="nhsuk-table__cell">
                    <a href="/trade-families/tf/view-tf" class="nhsuk-link--no-visited-state">Anadin Extra</a>
                  </td>
                  <td class="nhsuk-table__cell first-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                  <td class="nhsuk-table__cell first-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                                    <td class="nhsuk-table__cell">12-02-2026</td>
                                    <td class="nhsuk-table__cell">01-02-3456</td>
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input checkbox-row-first" id="row-1" name="row-1"
                          type="checkbox">
                        <label class="nhsuk-checkboxes__label" for="row-1">
                          <span class="nhsuk-u-visually-hidden">Select row</span>
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row first-row">
                  <td class="nhsuk-table__cell historic-first" style="display: none;">
                    <strong class="nhsuk-tag nhsuk-tag--orange">H</strong>
                  </td>
                  <td class="nhsuk-table__cell"><a href="#" class="nhsuk-link--no-visited-state">Anadin Ibuprofen</a>
                  </td>
                  <td class="nhsuk-table__cell first-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                  <td class="nhsuk-table__cell first-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                                    <td class="nhsuk-table__cell">12-02-2026</td>
                                    <td class="nhsuk-table__cell">01-02-3456</td>
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input checkbox-row-first" id="row-1" name="row-1"
                          type="checkbox">
                        <label class="nhsuk-checkboxes__label" for="row-1">
                          <span class="nhsuk-u-visually-hidden">Select row</span>
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row second-row">
                  <td class="nhsuk-table__cell historic-second" style="display: none;">
                    <strong class="nhsuk-tag nhsuk-tag--orange">H</strong>
                  </td>
                  <td class="nhsuk-table__cell"><a href="#" class="nhsuk-link--no-visited-state">Anadin Joint Pain</a>
                  </td>
                  <td class="nhsuk-table__cell second-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                  <td class="nhsuk-table__cell second-row-status">
                    <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                      </path>
                    </svg>
                  </td>
                                    <td class="nhsuk-table__cell">12-02-2026</td>
                                    <td class="nhsuk-table__cell">01-02-3456</td>
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input checkbox-row-second" id="row-1" name="row-1"
                          type="checkbox">
                        <label class="nhsuk-checkboxes__label" for="row-1">
                          <span class="nhsuk-u-visually-hidden">Select row</span>
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <div class="nhsuk-u-margin-top-6">
            <div id="link-buttons-container" style="float: right;">
              <a id="unlink-button" class="nhsuk-button " href="confirm-delete-linked-tf">Unlink
                selected trade families</a>
              <a href="edit-selected-trade-families"  class="nhsuk-button nhsuk-button--secondary">Edit selected trade families</a>
              <a class="nhsuk-button nhsuk-button--secondary">Select all trade families</a>

            </div>
            <div id="pagination">
              <nav aria-label="Pagination Navigation">
                <ul class="pagination">
                  <li class="pagination__item">
                    <p class="pagination__link nhsuk-u-font-weight-bold" aria-current="true">1</p>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link nhsuk-link--no-visited-state" href="#">2</a>
                  </li>
                  <li class="pagination__item">|</li>
                  <li class="pagination__item">
                    <a href="#" class="nhsuk-link--no-visited-state">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div class="nhsuk-tabs__panel" id="summary">
          <h3 class="nhsuk-heading-l">View summary</h3>

          <div class="nhsuk-action-link" style="float: right;">
            <a id="update-tfg-link" class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="update-tfg">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                </path>
              </svg>
              <span class="nhsuk-action-link__text">Update</span>
            </a>
          </div>

          <h3 class="nhsuk-heading-m">Summary</h3>

          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Start date</dt>
              <dd id="summary-start-date" class="nhsuk-summary-list__value">
                01-02-2025
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">End date</dt>
              <dd id="summary-end-date" class="nhsuk-summary-list__value">
                01-02-3456
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Valid</dt>
              <dd class="nhsuk-summary-list__value summary-status">
                <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                  </path>
                </svg>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Extractable</dt>
              <dd class="nhsuk-summary-list__value summary-status">
                <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                  </path>
                </svg>
              </dd>
            </div>
          </dl>

          <section class="nhsuk-u-padding-bottom-4" id="snomed-section">
            <h3 class="nhsuk-heading-m">SNOMED details</h3>

            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">SNOMED code</dt>
                <dd class="nhsuk-summary-list__value">
                  <span>6614511000001108</span>
                </dd>
              </div>
            </dl>

          </section>
        </div>

        <div class="nhsuk-tabs__panel" id="more">
          <h3 class="nhsuk-heading-l">View more</h3>

          <div class="nhsuk-action-link" style="float: right;">
            <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="update-tfg-name">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                </path>
              </svg>
              <span class="nhsuk-action-link__text">Update</span>
            </a>
          </div>

          <h3 class="nhsuk-heading-m">Name details</h3>

          <table class="nhsuk-table">

            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th class="nhsuk-table__header-identifier columnheader-sticky" id="attribute-table--tag-header"
                  role="columnheader" scope="col" style="width: 10px;">
                  <span class="nhsuk-u-visually-hidden">Indicator</span>
                </th>
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="nhsuk-table__header" scope="col">
                  Start date
                </th>
                <th role="columnheader" class="nhsuk-table__header" scope="col">
                  End date
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr id="updated-name-row" role="row" class="nhsuk-table__row"
                style="display: none; background-color: #C1DCCB;">
                <td class="nhsuk-table__cell-historic" role="cell">
                  <span>
                    <span class="nhsuk-u-visually-hidden">Future dated</span>
                    <strong class="nhsuk-tag nhsuk-tag--purple">
                      <abbr title="Future dated">F</abbr>
                    </strong>
                  </span>
                </td>
                <td class="nhsuk-table__cell">Anadin-Rebrand</td>
                <td class="nhsuk-table__cell">01-02-2027</td>
                <td class="nhsuk-table__cell">01-02-3456</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell-historic nhsuk-u-visually-hidden" role="cell">
                  <span>
                    <span class="nhsuk-u-visually-hidden">Historic</span>
                    <strong class="nhsuk-tag nhsuk-tag--orange">
                      <abbr title="Historic">H</abbr>
                    </strong>
                  </span>
                </td>
                <td class="nhsuk-table__cell">Anadin</td>
                <td class="nhsuk-table__cell">01-02-2025</td>
                <td class="nhsuk-table__cell">01-02-2027</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const urlParams = new URLSearchParams(globalThis.window.location.search);
  if (urlParams.has('showNameUpdate')) {
    document.getElementById('updated-name-row').style = 'background-color: #C1DCCB;';
  }

  if (urlParams.has('unlinkedTfs')) {
    applyFirstUnlinkedJourney();
  }

  if (urlParams.has('unlinkedAll')) {
    applyAllUnlinkedJourney();
  }

  if (urlParams.has('deleted')) {
    applyDeletedJourney();
  }

  if (urlParams.has('future')) {
    document.getElementById('identifier-header').style = '';
    document.getElementById('future-row').style = '';

    document.querySelectorAll('.historic-first').forEach(element => {
      element.style = '';
      element.classList.add('nhsuk-u-visually-hidden');
    });

    document.querySelectorAll('.historic-second').forEach(element => {
      element.style = '';
      element.classList.add('nhsuk-u-visually-hidden');
    });
  }

  function applyFirstUnlinkedJourney() {
    document.getElementById('identifier-header').style = '';

    document.querySelectorAll('.historic-first').forEach(element => {
      element.style = '';
    });

    document.querySelectorAll('.historic-second').forEach(element => {
      element.style = '';
      element.classList.add('nhsuk-u-visually-hidden');
    });

    document.querySelectorAll('.checkbox-row-first').forEach(element => {
      element.setAttribute('disabled', 'true');
    });

    document.querySelectorAll('.first-row').forEach(element => {
      element.style = 'background-color: #d8dde0;';
    });

    document.querySelectorAll('.first-row-status').forEach(element => {
      element.innerHTML = `<svg class="nhsuk-icon nhsuk-icon__cross nhsuk-icon__cross-red" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path
                        d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" />
                    </svg>`;
    });

    document.getElementById('unlink-button').setAttribute('href', 'confirm-delete-linked-tf?secondUnlink');
  }

  function applyAllUnlinkedJourney() {
    applyFirstUnlinkedJourney();

    document.querySelectorAll('.historic-second').forEach(element => {
      element.classList.remove('nhsuk-u-visually-hidden');
      element.style = '';
    });

    document.querySelectorAll('.checkbox-row-second').forEach(element => {
      element.setAttribute('disabled', 'true');
    });

    document.querySelectorAll('.second-row').forEach(element => {
      element.style = 'background-color: #d8dde0;';
    });

    document.querySelectorAll('.second-row-status').forEach(element => {
      element.innerHTML = `<svg class="nhsuk-icon nhsuk-icon__cross nhsuk-icon__cross-red" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path
                        d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" />
                    </svg>`;
    });

    document.getElementById('update-tfg-link').setAttribute('href', 'update-tfg?unlinkedAll');
  }

  function applyDeletedJourney() {
    applyAllUnlinkedJourney();

    document.querySelectorAll('.nhsuk-action-link').forEach(element => {
      element.remove();
    });

    const endDate = new Date();
    document.getElementById('continue-button-container').style = '';
    document.getElementById('link-buttons-container').classList.add('nhsuk-u-visually-hidden');

    document.getElementById('summary-start-date').innerText = '1/1/2025';
    document.getElementById('summary-end-date').innerText = `${endDate.getDay()}/${endDate.getMonth() + 1}/${endDate.getFullYear()}`;

    document.querySelectorAll('.summary-status').forEach(element => {
      element.innerHTML = `<svg class="nhsuk-icon nhsuk-icon__cross nhsuk-icon__cross-red" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" fill="none" aria-hidden="true" id="pi-value-0">
                      <path
                        d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" />
                    </svg>`;
    });
  }
</script>
{% endblock %}