{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
    <a class="nhsuk-back-link__link" href="home-page">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        <span id="back-link-text">Go back to home page </span></a>
</div>

<fieldset class="nhsuk-fieldset" aria-describedby="accreditation-body-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
        <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Audit trail
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
            Search criteria summary
        </h1>
        <P>Check your answers before completing your submission.</P>
    </legend>
    <!--    <table class="nhsuk-table nhsuk-u-margin-top-5">-->
    <!--        <caption class="nhsuk-table__caption">User selected </caption>-->
    <!--        <thead role="rowgroup" class="nhsuk-table__head">-->
    <!--        <tr role="row">-->
    <!--            <th role="columnheader" class="" scope="col">-->
    <!--                Name-->
    <!--            </th>-->
    <!--            <th role="columnheader" class="" scope="col">-->
    <!--                Action-->
    <!--            </th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody class="nhsuk-table__body">-->
    <!--        <tr role="row" class="nhsuk-table__row">-->
    <!--            <td class="nhsuk-table__cell">JAHMO</td>-->
    <!--            <td class="nhsuk-table__cell "><a href="added-cypher.html">Edit</a></td>-->
    <!--        </tr>-->
    <!--        <tr role="row" class="nhsuk-table__row">-->
    <!--            <td class="nhsuk-table__cell">ALBOW</td>-->
    <!--            <td class="nhsuk-table__cell "><a href="added-cypher.html">Edit</a></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->

    <!--    <dl class="nhsuk-summary-list nhsuk-u-margin-top-9">-->
    <!--        <h3>Dates selected</h3>-->

    <!--        <div class="nhsuk-summary-list__row">-->
    <!--            <dt class="nhsuk-summary-list__key">-->
    <!--                Start date-->
    <!--            </dt>-->
    <!--            <dd class="nhsuk-summary-list__value">-->
    <!--                12 March 2024-->
    <!--            </dd>-->

    <!--            <dd class="nhsuk-summary-list__actions">-->

    <!--                <a href="#">-->
    <!--                    Change<span class="nhsuk-u-visually-hidden"> Edit</span>-->
    <!--                </a>-->

    <!--            </dd>-->

    <!--        </div>-->

    <!--        <div class="nhsuk-summary-list__row">-->
    <!--            <dt class="nhsuk-summary-list__key">-->
    <!--                End date-->
    <!--            </dt>-->
    <!--            <dd class="nhsuk-summary-list__value">-->
    <!--               05 March 2024-->
    <!--            </dd>-->

    <!--            <dd class="nhsuk-summary-list__actions">-->

    <!--                <a href="#">-->
    <!--                    Change<span class="nhsuk-u-visually-hidden"> Edit</span>-->
    <!--                </a>-->

    <!--            </dd>-->
    <!--        </div>-->
    <!--    </dl>-->



    <!--    <table class="nhsuk-table nhsuk-u-margin-top-9">-->
    <!--        <caption class="nhsuk-table__caption">Dictionary selected</caption>-->
    <!--        <thead role="rowgroup" class="nhsuk-table__head">-->
    <!--        <tr role="row">-->
    <!--            <th role="columnheader" class="" scope="col">-->
    <!--               Dictionary-->
    <!--            </th>-->
    <!--            <th role="columnheader" class="" scope="col">-->
    <!--                Action-->
    <!--            </th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody class="nhsuk-table__body">-->
    <!--        <tr role="row" class="nhsuk-table__row">-->
    <!--            <td class="nhsuk-table__cell">PCDD</td>-->
    <!--            <td class="nhsuk-table__cell "><a href="#">Edit</a></td>-->
    <!--        </tr>-->
    <!--        <tr role="row" class="nhsuk-table__row">-->
    <!--            <td class="nhsuk-table__cell">SCDD</td>-->
    <!--            <td class="nhsuk-table__cell "><a href="#">Edit</a></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
    <!--    <div class="nhsuk-do-dont-list">-->
    <!--        <h3 class="nhsuk-do-dont-list__label">Do</h3>-->
    <!--        <ul class="nhsuk-list nhsuk-list&#45;&#45;tick" role="list">-->
    <!--            <li>-->
    <!--                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">-->
    <!--                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>-->
    <!--                </svg>-->
    <!--                cover blisters that are likely to burst with a soft plaster or dressing-->
    <!--            </li>-->
    <!--            <li>-->
    <!--                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">-->
    <!--                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>-->
    <!--                </svg>-->
    <!--                wash your hands before touching a burst blister-->
    <!--            </li>-->
    <!--            <li>-->
    <!--                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">-->
    <!--                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>-->
    <!--                </svg>-->
    <!--                allow the fluid in a burst blister to drain before covering it with a plaster or dressing-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->

    <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">User selected</h3>
        <table class="nhsuk-table">
            <caption class="nhsuk-table__caption"> </caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Name
                </th>
                <th role="columnheader" class="" scope="col">
                    Action
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">ALBOW</td>
                <td class="nhsuk-table__cell "><a href="added-cypher.html">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Dictionary selected</h3>
        <table class="nhsuk-table ">
            <caption class="nhsuk-table__caption"></caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Dictionary
                </th>
                <th role="columnheader" class="" scope="col">
                    Action
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">PCDD</td>
                <td class="nhsuk-table__cell "><a href="choose-dictionary.html">Edit</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">SCDD</td>
                <td class="nhsuk-table__cell "><a href="choose-dictionary.html">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Start date</h3>
        <table class="nhsuk-table ">
            <caption class="nhsuk-table__caption"></caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Start date
                </th>
                <th role="columnheader" class="" scope="col">
                    Action
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">15 March 2024</td>
                <td class="nhsuk-table__cell "><a href="edit-start-date.html">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">End date</h3>
        <table class="nhsuk-table ">
            <caption class="nhsuk-table__caption"></caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    End date
                </th>
                <th role="columnheader" class="" scope="col">
                    Action
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">10 March 2024</td>
                <td class="nhsuk-table__cell "><a href="edit-end-date.html">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>

<a class="nhsuk-button nhsuk-u-margin-top-5" id="continue-button"  href="audit-summary-page.html">Download CSV</a>

</div>




{% endblock %}