{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Design prototype CDR client</h1>

    <h2>Sprints</h2>
    <ul>
      <li><a href="/sprint-18/stories">Sprint 18</a></li>
    </ul>

    <h2>Stories</h2>
    <ul>

      <li><a href="/tce-650/index">Insert VTM (TCE-650)</a></li>
      <li><a href="/tce-863/index">Insert VMPP Combination Packs (TCE-863)</a></li>
      <li><a href="/tce-868/insert-amp-name">Insert AMP (TCE-868)</a></li>
      <li><a href="/tce-938/index">Update VMP (TCE-938)</a></li>
      <li><a href="/tce-200-attributetypesearch/index">Code maintenance(TCEs: 179, 200, 806)</a></li>
      <li><a href="/tce-1105/index">Part IX Quick Price Max (TCE-1105)</a></li>
      <li><a href="/tce-1212/index">User Guide (TCE-1212)</a></li>
      <li><a href="/tce-1229/index">Update VMP Dictionary (Product Needs Actioning) (TCE-1229)</a></li>
      <li><a href="/new-audit/home-page">New audit prototype </a></li>
      <li><a href="/trade-families/add-amp">Trade families </a></li>
      <li><a href="/tce-2226/index">(TCE-2226)Adding VTM ingredients to dm+d browser</a></li>
      <li><a href="/quick-price-update/index">Updating prices for Part VIII A drugs</a></li>
      <li><a href="/cat-m/index">Updating prices for Cat M drugs via upload</a></li>
      <li><a href="/user-designed-query/home-page">New UDQ </a></li>
      <li><a href="/tce-2384/index">(TCE-2384) VTM ingredients in CDR</a></li>
      <li><a href="/update-redesign/index">Adding new buttons to update screens</a></li>
      <li><a href="/tce-2523/index">Adding new buttons to update screens</a></li>
    </ul>
  </div>
</div>
{% endblock %}