{% extends "base-full.html" %}
{% block content %}
<div class="nhsuk-width-container">

  <!--div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="price-amend-yes-or-no.html">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div-->

  <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-full">

  
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Part VIII  price updates</h1>
          <!--p class="nhsuk-body">Select a file from your computer to update drug tariff prices VMPPs for Part VIII category M products</p-->
      <br>
        <!-- Add your content here -->
        <section class="nhsuk-section">
          <div class="nhsuk-width-container">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half nhsuk-section__content">
                <h2 class="hero-margin-fix">Part VIII A</h2>
                <p>Update prices for Part VIII A</p>
                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="/part-8a/index" id="product-search">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Go to Part VIIIA price update</span>
                  </a>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-section__content">
                <h2>Part VIII-Cat M price updates</h2>
                <p>Update Part VIII- Cat Mprices</p>
                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="/cat-m/index" id="code-search">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Go to Part VIII - Cat M</span>
                  </a>
                </div>
              </div>
            </div>
            <!--div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half nhsuk-section__content">
                <h2 class="hero-margin-fix">Ingredient search</h2>
                <p>Search for an ingredient.</p>
                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="/ingredient/search" id="ingredient-search">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Go to the ingredient search</span>
                  </a>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-half nhsuk-section__content">
                <h2>Help page</h2>
                <p>Find help by using the glossary or user guide.</p>
                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="/help-page" id="help-page">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Go to the help page</span>
                  </a>
                </div>
              </div>
              
            </div-->
          </div>
        </section>
  
  
      
      </div>  
  
    </div>
  </main>
</div>


{% endblock %}