{% extends "trade-families/base.html" %}
{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list" xmlns="http://www.w3.org/1999/html">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">AMP results</a></li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <br/>
        <h1 class="nhsuk-heading-xl">1 Primary Wound Dressing spray (Phytoceuticals Ltd)</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <div class="nhsuk-tabs" data-module="nhsuk-tabs">
                <h2 class="nhsuk-tabs__title">
                    Contents
                </h2>

                <ul class="nhsuk-tabs__list">

                    <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                        <a class="nhsuk-tabs__tab" href="#attributes">
                            View attributes
                        </a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#summary">
                            View summary
                        </a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#more">
                            View more
                        </a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#ampps">
                            View AMPPs
                        </a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#trade-family">
                            Trade family
                        </a>
                    </li>

                    <li class="nhsuk-tabs__list-item">
                        <a class="nhsuk-tabs__tab" href="#insert">
                            Insert
                        </a>
                    </li>

                </ul>

                <div class="nhsuk-tabs__panel" id="attributes">
                    <h3 class="nhsuk-heading-l">View attributes</h3>
                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="summary">
                    <h3 class="nhsuk-heading-l">View summary</h3>
                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="more">
                    <h3 class="nhsuk-heading-l">View more</h3>

                    <table class="nhsuk-table">
                        <caption class="nhsuk-table__caption">Name details</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Name
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                Start date
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                End date
                            </th>
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">1 Primary Wound Dressing spray</td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-01-2020</td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-02-3456</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4 class="nhsuk-heading-m">Alternative names</h4>
                    <p>There are no alternative names associated with this AMP.</p><br/>

                    <table class="nhsuk-table">
                        <caption class="nhsuk-table__caption">Supplier details</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Supplier
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                Start date
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                End date
                            </th>
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">Phytoceuticals Ltd</td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-01-2020</td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-02-3456</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4 class="nhsuk-heading-m">Trade family</h4>
                    <p>This AMP is not part of a trade family.
                        <a href="link-amp-to-tf">Add to a trade family.</a></p>

                    <p>This AMP is part of the trade family -
                        <a href="view-tf" onclick="setTfJourney()">1 Primary Wound</a>.</p>
                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="ampps">
                    <h3 class="nhsuk-heading-l">View AMPPs</h3>
                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="trade-family">
                    <h3 class="nhsuk-heading-l">Trade family</h3>
                    <table class="nhsuk-table">
                        <caption class="nhsuk-table__caption">Trade family details</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Name
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                Start date
                            </th>
                            <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                                End date
                            </th>
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell"><a href="view-tf">1 Primary Wound</a></td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-01-2020</td>
                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">01-02-3456</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="insert">
                    <h3 class="nhsuk-heading-l">Insert</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    function setTfJourney() {
        localStorage.setItem("tf-journey", "amp");
    }
</script>

{% endblock %}