{% extends "trade-families/base.html" %}
{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="amp-results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <br/>
        <h1 class="nhsuk-heading-xl">Save new trade family</h1>
    </div>
</div>
<details class="nhsuk-details nhsuk-expander" open>
    <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Warnings
    </span>
    </summary>
    <div class="nhsuk-details__text">
        <p>The submitted data has the following warnings. Check the data is correct before saving.</p>
        <ul>
            <li>Warning one. </li>
            <li>Warning two. </li>
        </ul>
    </div>
</details>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-heading-m">Trade family details</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    1 Primary Wound
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    01 January 2020
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> start date</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    End date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    01 February 3456
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="create-new-tf">
                        Change<span class="nhsuk-u-visually-hidden"> end date</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="nhsuk-grid-row nhsuk-u-margin-top-3">
    <div class="nhsuk-grid-column-full">
        <p>Page 1 of 2 (29 total results)</p>
        <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Selected AMPs</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Name
                </th>
                <th role="columnheader" class="" scope="col">
                    Supplier
                </th>
                <th role="columnheader" class="" scope="col">
                    Remove
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    2 way foley all silicone catheter male 12Ch
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    Mediplus Ltd
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <a href="#">Remove</a>
                </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    (S)-Lactic acid
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    Current 365 Healthcare Ltd
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <a href="#">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="nhsuk-u-margin-top-6">
    <div id="pagination">
        <nav aria-label="Pagination Navigation">
            <ul class="pagination">
                <li class="pagination__item">Previous</li>
                <li class="pagination__item">|</li>
                <li class="pagination__item">
                    <p class="pagination__link nhsuk-u-font-weight-bold" aria-current="true">1</p>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">|</li>
                <li class="pagination__item"><a href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-3" href="search-amp">Search for AMPs</a>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a href="tf-table-view" class="nhsuk-button">Save</a>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a href="tf-table-view">Cancel</a>
    </div>
</div>
{% endblock %}