{% extends "trade-families/base.html" %}
{% block content %}
<div class="nhsuk-grid-row">
    <div id="content-pane" class="side-tree-view">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
                <nav class="app-side-nav" role="navigation">
                    <h2 class="app-side-nav__heading">Navigation</h2>
                    <ul class="nhsuk-list app-side-nav__list">
                        <li class="app-side-nav__item app-side-nav__item--current" aria-current="page">
                            <a class="app-side-nav__link">Trade family groups</a>
                        </li>
                        <li class="app-side-nav__item">
                            <a href="tf-table-view" class="app-side-nav__link">Trade families</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="nhsuk-grid-column-three-quarters">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <br/>
                        <h1 class="nhsuk-heading-xl">Trade family groups</h1>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <label for="filter" class="nhsuk-label">Filter by name</label>
                        <input id="filter" class="nhsuk-input govuk-!-margin-bottom-4" type="text"/>
                        <a href="#" class="nhsuk-button nhsuk-button--secondary" type="submit"
                           id="searchButton">Search</a>
                        <a class="nhsuk-button nhsuk-button--reverse" style="color: black"
                           id="resetFilters" href="#">Reset filter </a>
                    </div>
                </div>
                <table class="nhsuk-table">
                    <caption class="nhsuk-table__caption">Trade family groups details</caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" scope="col">
                            Name
                        </th>
                        <th role="columnheader" scope="col">
                            SNOMED Code
                        </th>
                        <th role="columnheader" scope="col">
                            Start date
                        </th>
                        <th role="columnheader" scope="col">
                            End date
                        </th>
                        <th role="columnheader" scope="col">
                            Number of TFs
                        </th>
                    </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <th class="nhsuk-table__header" scope="row">
                            <a href="view-tfg" class="nhsuk-link--no-visited-state">Primary Wound</a>
                        </th>
                        <td class="nhsuk-table__cell">22002311000001104</td>
                        <td class="nhsuk-table__cell">01/01/2020</td>
                        <td class="nhsuk-table__cell">01/02/3456</td>
                        <td class="nhsuk-table__cell">3</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <th class="nhsuk-table__header" scope="row">
                            <a href="#" class="nhsuk-link--no-visited-state">TFG1</a>
                        </th>
                        <td class="nhsuk-table__cell">7987611000001104</td>
                        <td class="nhsuk-table__cell">06/02/2018</td>
                        <td class="nhsuk-table__cell">21/11/2026</td>
                        <td class="nhsuk-table__cell">21</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <th class="nhsuk-table__header" scope="row">
                            <a href="#" class="nhsuk-link--no-visited-state">TFG2</a>
                        </th>
                        <td class="nhsuk-table__cell">15181011000001103</td>
                        <td class="nhsuk-table__cell">17/09/2005</td>
                        <td class="nhsuk-table__cell">17/09/2025</td>
                        <td class="nhsuk-table__cell">14</td>
                    </tr>
                    </tbody>
                </table>
                <a href="create-new-tfg" class="nhsuk-button">
                    Create new trade family group
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}