{% extends "base-large.html" %}
{% block content %}
<div class="nhsuk-grid-row">
      <div id="content-pane" class="side-tree-view">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter">
            <nav class="app-side-nav" role="navigation">
              <h2 class="app-side-nav__heading">Navigation</h2>
              <ul class="nhsuk-list app-side-nav__list">
                <li class="app-side-nav__item" aria-current="page">
                  <a href="tfg-table-view" class="app-side-nav__link">Trade family groups</a>
                </li>
                <li class="app-side-nav__item app-side-nav__item--current">
                  <a class="app-side-nav__link">Trade families</a>
                </li>
              </ul>
            </nav>
          </div>


      <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="tf-table-view">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 aria-hidden="true" height="24" width="24">
              <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back</a>
        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
                             <span class="nhsuk-caption-l">
                Trade families
              <span class="nhsuk-u-visually-hidden"> - </span>
                         </span>
            <h1 class="nhsuk-heading-xl">1 Primary Wound</h1>
          </div>
        </div>


<!--tabs-->
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
          <h2 class="nhsuk-tabs__title">
            Contents
          </h2>
          <ul class="nhsuk-tabs__list">
            <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
              <a class="nhsuk-tabs__tab" href="#tab-1">
                View trade family
              </a>
            </li>
            <li class="nhsuk-tabs__list-item">
              <a class="nhsuk-tabs__tab" href="#tab-2">
                View trade family group
              </a>
            </li>
            <li class="nhsuk-tabs__list-item">
              <a class="nhsuk-tabs__tab" href="#tab-3">
                View linked AMP's
              </a>
            </li>
          </ul>

          <div class="nhsuk-tabs__panel" id="tab-1">
            Words
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Trade families</caption>
              <thead class="nhsuk-table__head">
              <tr>
                <th scope="col" class="nhsuk-table__header">Name</th>

                <th scope="col" class="nhsuk-table__header">Valid</th>
                <th scope="col" class="nhsuk-table__header">Extractable</th>
                <th scope="col" class="nhsuk-table__header">Start date</th>
                <th scope="col" class="nhsuk-table__header">End date</th>
                <th scope="col" class="nhsuk-table__header">SNOMED</th>
                <th scope="col" class="nhsuk-table__header">Action</th>
              </tr>
              </thead>
              <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">1 Primary wound</td>

                <td class="nhsuk-table__cell">
                  <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24" width="16" height="16" focusable="false"
                       aria-hidden="true">
                    <path fill="#007f3b"
                          d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                  </svg>
                </td>
                <td class="nhsuk-table__cell">
                  <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24" width="16" height="16" focusable="false"
                       aria-hidden="true">
                    <path fill="#007f3b"
                          d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                  </svg>
                </td>
                <td class="nhsuk-table__cell">01-01-2020</td>
                <td class="nhsuk-table__cell">05-09-2024</td>
                <td class="nhsuk-table__cell">6614511000001108</td>
                <td class="nhsuk-table__cell"><a href="edit-tf.html" class="nhsuk-link">Edit</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-2">
            wordssss
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <br/>
                <h2 class="nhsuk-heading-l ">Trade family group</h2>
                <p>This trade family does not belong to a trade family group.
                  <a class="nhsuk-link--no-visited-state" href="link-tf-to-tfg">Link to trade family
                    group.</a></p>
              </div>
            </div>
          </div>

          <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-3">
            lots of words

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <h3 class="nhsuk-heading-l">Linked AMP's </h3>
                    <details class="nhsuk-details nhsuk-details--expanded govuk-!-margin-bottom-4"
                             data-module="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">Do you want to search or filter AMP's ?</span>
                      </summary>
                      <label for="filter" class="nhsuk-label nhsuk-u-margin-top-5">Filter by
                        name</label>
                      <input id="filter" class="nhsuk-input govuk-!-margin-bottom-4" type="text"/>

                      <div class="nhsuk-details__text">
                        <form>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                              <legend class="nhsuk-fieldset__legend">
                                Filter by attributes
                              </legend>
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-grid-column-full">
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input" id="valid"
                                             name="filter"
                                             type="checkbox" checked>
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="valid">
                                        Valid
                                      </label>
                                    </div>
                                  </div>
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input"
                                             id="extractable"
                                             name="filter"
                                             type="checkbox" checked>
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="extractable">
                                        Extractable
                                      </label>
                                    </div>
                                  </div>
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input"
                                             id="future-dated"
                                             name="filter"
                                             type="checkbox">
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="future-dated">
                                        Show future dated AMPs
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="nhsuk-grid-column-full nhsuk-u-margin-top-2">
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input" id="invalid"
                                             name="filter"
                                             type="checkbox" checked>
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="invalid">
                                        Invalid
                                      </label>
                                    </div>
                                  </div>
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input"
                                             id="unextractable"
                                             name="filter"
                                             type="checkbox" checked>
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="unextractable">
                                        Unextractable
                                      </label>
                                    </div>
                                  </div>
                                  <div class="nhsuk-u-one-third">
                                    <div class="nhsuk-checkboxes__item">
                                      <input class="nhsuk-checkboxes__input" id="historic"
                                             name="filter"
                                             type="checkbox">
                                      <label class="nhsuk-label nhsuk-checkboxes__label"
                                             for="historic">
                                        Show historic AMPs
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </fieldset>

                            <!--sort by -->
                            <div class="nhsuk-grid-column-full nhsuk-u-margin-top-2">
                              <div class="nhsuk-form-group">
                                <fieldset class="nhsuk-fieldset">
                                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

                                    <label class="nhsuk-label nhsuk-checkboxes__label"
                                           for="historic">
                                      Sort by
                                    </label>
                                  </legend>
                                  <div class="nhsuk-radios nhsuk-radios--inline"
                                       data-module="nhsuk-radios">
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="example-inline"
                                             name="exampleInline" type="radio" value="yes">
                                      <label class="nhsuk-label nhsuk-radios__label"
                                             for="example-inline">
                                        newest to oldest
                                      </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="example-inline-2"
                                             name="exampleInline" type="radio" value="no">
                                      <label class="nhsuk-label nhsuk-radios__label"
                                             for="example-inline-2">
                                        oldest to newest
                                      </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="example-inline-2"
                                             name="exampleInline" type="radio" value="no">
                                      <label class="nhsuk-label nhsuk-radios__label"
                                             for="example-inline-2">
                                        Z to A
                                      </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                      <input class="nhsuk-radios__input" id="example-inline-2"
                                             name="exampleInline" type="radio" value="no">
                                      <label class="nhsuk-label nhsuk-radios__label"
                                             for="example-inline-2">
                                        A to Z
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>

                      <a class="nhsuk-button nhsuk-button--reverse nhsuk-u-float-right nhsuk-u-margin-left-5"
                         style="color: black"
                         id="resetFilters" href="#">Reset filter </a>
                      <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-float-right"
                              type="submit"
                              id="searchButton" onclick="displaySelectedCriteria()">Search
                      </button>
                    </details>
                  </div>
                </div>


                <br>
                <!-- page size -->
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-one-half">
                        <p class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-2">
                          Page 1 of 1 (3 total results)
                        </p>
                      </div>

<!--              -->
        <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
                        <div class="nhsuk-u-font-size-16" id="tablePageSizeControls">
                          <span class="nhsuk-u-margin-right-2">Page size:</span>

                          <span
                              class="nhsuk-u-font-weight-bold nhsuk-u-margin-right-2"
                              aria-current="true">20</span>

                          <a class="nhsuk-u-margin-right-2" aria-label="Page size of 50 results"
                             href="#">50</a>

                          <a aria-label="Page size of 100 results" href="#">100</a>
                        </div>
                      </div>
                    </div>

                    <!--main table -->
                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">
<form>
                        <table class="nhsuk-table nhsuk-u-margin-top-9">
                          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Linked AMPs
                          </caption>
                          <thead role="rowgroup" class="nhsuk-table__head">
                          <tr role="row">
                            <th role="columnheader" class="" scope="col">
                              Select
                            </th>
                            <th role="columnheader" class="" scope="col">
                              <span class="nhsuk-u-visually-hidden">Identifier</span>
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Name
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Valid
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Extractable
                            </th>
                            <th role="columnheader" class="" scope="col">
                              Start date
                            </th>
                            <th role="columnheader" class="" scope="col">
                              End date
                            </th>
                            <!--                <th role="columnheader" class="" scope="col">-->
                            <!--                  Action-->
                            <!--                </th>-->

                          </tr>
                          </thead>
                          <tbody class="nhsuk-table__body">
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                                <div class="nhsuk-checkboxes__item">
                                  <input
                                      class="nhsuk-checkboxes__input"
                                      id="row-1"
                                      name="row-1"
                                      type="checkbox"
                                  >
                                  <label class="nhsuk-checkboxes__label" for="row-1">
                                    <span class="nhsuk-u-visually-hidden">Select row</span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td class="nhsuk-table__cell "></td>
                            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state"
                                                             href="add-amp">1
                              Primary Wound
                              Dressing spray</a></td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--tick"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#007f3b"
                                      d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--tick"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#007f3b"
                                      d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">01-01-2020</td>
                            <td class="nhsuk-table__cell ">01-02-3456</td>
                            <!--                <td class="nhsuk-table__cell "><a class="nhsuk-link--no-visited-state"-->
                            <!--                                                  href="confirm-delete-linked-amp.html">Unlink</a>-->
                            <!--                </td>-->


                          </tr>
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                                <div class="nhsuk-checkboxes__item">
                                  <input
                                      class="nhsuk-checkboxes__input"
                                      id="row-1"
                                      name="row-1"
                                      type="checkbox"
                                  >
                                  <label class="nhsuk-checkboxes__label" for="row-1">
                                    <span class="nhsuk-u-visually-hidden">Select row</span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td class="nhsuk-table__cell "></td>
                            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state"
                                                             href="#">1
                              Primary
                              Wound small</a>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--tick"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#007f3b"
                                      d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--tick"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#007f3b"
                                      d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">15-11-2024</td>
                            <td class="nhsuk-table__cell ">01-02-3456</td>
                            <!--                <td class="nhsuk-table__cell "><a class="nhsuk-link--no-visited-state"-->
                            <!--                                                  href="pre-extract-unlink.html">Unlink</a></td>-->

                          </tr>
                          <tr role="row" class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                                <div class="nhsuk-checkboxes__item">
                                  <input
                                      class="nhsuk-checkboxes__input"
                                      id="row-1"
                                      name="row-1"
                                      type="checkbox"
                                  >
                                  <label class="nhsuk-checkboxes__label" for="row-1">
                                    <span class="nhsuk-u-visually-hidden">Select row</span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td class="nhsuk-table__cell "></td>
                            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state"
                                                             href="#">1
                              Primary
                              Wound
                              medium</a></td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">21-02-2005</td>
                            <td class="nhsuk-table__cell ">01-02-3456</td>
                            <!--                <td class="nhsuk-table__cell "><a class="nhsuk-link--no-visited-state"-->
                            <!--                                                  href="#">Unlink</a></td>-->

                          </tr>
                          <tr role="row" class="nhsuk-table__row future-record" style="display: none;">
                            <td class="nhsuk-table__cell">
                              <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                                <div class="nhsuk-checkboxes__item">
                                  <input
                                      class="nhsuk-checkboxes__input"
                                      id="row-1"
                                      name="row-1"
                                      type="checkbox"
                                  >
                                  <label class="nhsuk-checkboxes__label" for="row-1">
                                    <span class="nhsuk-u-visually-hidden">Select row</span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td class="nhsuk-table__cell "><strong
                                class="nhsuk-tag nhsuk-tag--purple">F</strong>
                            </td>
                            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state"
                                                             href="#">1
                              Primary
                              Wound
                              extra small</a></td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">21-02-2999</td>
                            <td class="nhsuk-table__cell ">01-02-456</td>
                            <td class="nhsuk-table__cell "><a class="nhsuk-link--no-visited-state"
                                                              href="#">Remove</a></td>
                          </tr>
                          <tr role="row" class="nhsuk-table__row historic-record" style="display: none">
                            <td class="nhsuk-table__cell">
                              <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
                                <div class="nhsuk-checkboxes__item">
                                  <input
                                      class="nhsuk-checkboxes__input"
                                      id="row-1"
                                      name="row-1"
                                      type="checkbox"
                                  >
                                  <label class="nhsuk-checkboxes__label" for="row-1">
                                    <span class="nhsuk-u-visually-hidden">Select row</span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td class="nhsuk-table__cell "><strong
                                class="nhsuk-tag nhsuk-tag--orange">H</strong>
                            </td>
                            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state"
                                                             href="#">1
                              Primary
                              Wound
                              extra large</a></td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">
                              <svg class="nhsuk-icon nhsuk-icon--cross"
                                   xmlns="http://www.w3.org/2000/svg"
                                   viewBox="0 0 24 24" width="16" height="16" focusable="false"
                                   aria-hidden="true">
                                <path fill="#d5281b"
                                      d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"/>
                              </svg>
                            </td>
                            <td class="nhsuk-table__cell ">21-02-2005</td>
                            <td class="nhsuk-table__cell ">01-02-2010</td>
                            <td class="nhsuk-table__cell "><a class="nhsuk-link--no-visited-state"
                                                              href="#">Remove</a></td>
                          </tr>
                          </tbody>
                        </table>
</form>
                      </div>
                    </div>

                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">

                        <a class="nhsuk-u-margin-left-3 nhsuk-button nhsuk-button--reverse nhsuk-u-float-right"
                           href="confirm-delete-linked-amp.html" role="button"
                           data-module="nhsuk-button" type="submit">
                          select all AMP(s)
                        </a>
                        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-float-right"
                           href="confirm-delete-linked-amp.html" role="button"
                           data-module="nhsuk-button" type="submit">
                          Unlink selected AMP(s)
                        </a>

                        <div class="nhsuk-u-margin-top-2">
                          <div id="pagination">
                            <nav aria-label="Pagination Navigation">
                              <ul class="pagination">
                                <li class="pagination__item">Previous</li>
                                <li class="pagination__item">|</li>
                                <li class="pagination__item">
                                  <p class="pagination__link nhsuk-u-font-weight-bold"
                                     aria-current="true">1</p>
                                </li>
                                <li class="pagination__item">
                                  <a class="pagination__link" href="#">2</a>
                                </li>
                                <li class="pagination__item">|</li>
                                <li class="pagination__item"><a href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <hr>
                        <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-full">
                            <h3>Delete trade family</h3>
                            <details class="nhsuk-details">
                              <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Do you want to delete this trade family
    </span>
                              </summary>
                              <div class="nhsuk-details__text">
                                <p>To delete this trade family you need to unlink all associated linked
                                  AMPS .</p>

                              </div>
                            </details>
                          </div>
                        </div>

                        <hr>


                            <!--            <a class="nhsuk-button nhsuk-button--warning" href="confirm-delete-tf.html"-->
                            <!--               role="button" data-module="nhsuk-button"-->
                            <!--               style="float: right">-->
                            <!--              Delete trade family-->
                            <!--            </a>-->

                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
        <div class="nhsuk-grid-row ">
          <div class="nhsuk-grid-column-full">
            <a class="nhsuk-button  " href="search-amp" role="button"
               onclick="setAMPJourney()">Link
              an AMP</a>

          </div>
        </div>
          </div>
          </div>







              {% endblock %}

              {% block scripts %}

<!--              <script>-->
<!--                function setAMPJourney() {-->
<!--                  localStorage.setItem("amp-journey", "add-amp");-->
<!--                }-->

<!--              </script>-->
<!--              <script src="/js/tf-future-historic-amps.js"></script>-->

              {% endblock %}


