{% extends "base-full.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="search.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true">
          <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Select Quick Price</a>
    </div>
    <h1 class="heading-xlarge">Generics Part IX Quick Price Update</h1>

    <div class="nhsuk-body-m flex--space-between">
      <!--div class="nhsuk-u-visually-hidden">Currently viewing</div>
      <div id="pageAndResultCount">Page 1 of 1 (5 results)</div-->
      <div class="nhsuk-u-text-align--right" style="display: flex">
        <div id="tableSortControls" style="margin-right: 15px">
          <span>Sort:</span>
          <span><a aria-label="Sort results by price" href="">eligibility</a></span>

          <span> | </span>

          <span class="nhsuk-u-font-weight-bold">name</span>
        </div>
      </div>
    </div>

    <table role="table" class="nhsuk-table-responsive" style="margin-bottom: 32px;">
      <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-4">Price update selections</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" scope="col">
          Eligibility
        </th>
        <th role="columnheader" class="" scope="col">
          Name
        </th>
        <th role="columnheader" class="" scope="col">
          Date
        </th>
        <th role="columnheader" class="" scope="col">
          GDP
        </th>
        <th role="columnheader" class="" scope="col">
          Price
        </th>
        <th role="columnheader" class="" scope="col">
          Unrounded price
        </th>
        <th role="columnheader" class="" scope="col">
          Remove
        </th>
      </tr>
      </thead>

      <tbody class="nhsuk-table__body single-row">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell eligible-colour">
          <span class="nhsuk-table-responsive__heading">Eligibility </span>
          <span class="eligibility-text">
            Eligible
          </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>
          Absorbent cotton BP 1988 100 gram
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
          01-06-2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
          2.0
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
          185
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price</span>
          <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
          184.5003
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Remove</span>
          <a href="#">Remove</a>
        </td>
      </tr>
     
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell eligible-colour">
          <span class="nhsuk-table-responsive__heading">Eligibility </span>
          <span class="eligibility-text">
            Eligible
          </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>
          Absorbent cotton BP 1988 25 gram
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
          01-06-2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
          2.0
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
          81
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price</span>
          <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
          81.0751
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Remove</span>
          <a href="#">Remove</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell eligible-colour">
          <span class="nhsuk-table-responsive__heading">Eligibility </span>
          <span class="eligibility-text">
            Eligible
          </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>
          Absorbent cotton BP 1988 500 gram
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
          01-06-2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
          2.0
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
          622
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement unrounded price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement unrounded price</span>
          621.9895
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Remove</span>
          <a href="#">Remove</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell eligible-colour">
          <span class="nhsuk-table-responsive__heading">Eligibility </span>
          <span class="eligibility-text">
            Eligible
          </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>
          Absorbent cotton and viscose ribbon gauze BP 1988 sterile 1.25cm 5m
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
          01-06-2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
          2.0
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
          92
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price</span>
          <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
          91.8085
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Remove</span>
          <a href="#">Remove</a>
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell eligible-colour">
          <span class="nhsuk-table-responsive__heading">Eligibility </span>
          <span class="eligibility-text">
            Eligible
          </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>
          Hypodermic U100 insulin syringe sterile single use / single patient use 0.3ml with not less than 12mm needle 0.33mm / 29 gauge 10 syringe
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement date</span>
          <span class="nhsuk-u-visually-hidden">Reimbursement date</span>
          01-06-2022
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement GDP </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement GDP</span>
          2.0
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Reimbursement price </span>
          <span class="nhsuk-u-visually-hidden">Reimbursement price</span>
          115
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"> Reimbursement unrounded price</span>
          <span class="nhsuk-u-visually-hidden"> Reimbursement unrounded price</span>
          115.3204
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Remove</span>
          <a href="#">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>



<!--    <nav aria-label="Pagination Navigation">-->
<!--      <ul class="nhsuk-table-pagination" id="pagination">-->

<!--        <li class="nhsuk-u-margin-right-3" id="linkFirst">&lt;&lt;-->
<!--          first-->
<!--        </li>-->

<!--        <li id="linkPrevious">&lt; previous</li>-->



<!--        <li><span class="nhsuk-u-visually-hidden">Currently viewing </span><span id="pageNumber">Page 1 of 1</span>-->
<!--        </li>-->



<!--        <li id="linkNext">next-->
<!--          &gt;</a>-->
<!--        </li>-->

<!--        <li id="linkLast" class="nhsuk-u-margin-left-3">last-->
<!--          &gt;&gt;</a></li>-->

<!--      </ul>-->
<!--    </nav>-->

    <a class="nhsuk-button" href="./confirmationpage.html">Submit</a>
  </div>
</div>
{% endblock %}