{% extends "undo-changes/base.html" %}
{% block content %}
<ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/undo-changes/vmp">VMP</a> </h2>
              
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/undo-changes/amp">AMP </a> </h2>
                    
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/vtm-update-current-name">VTM</a> </h2>
                   
                </div>
            </div>

        </li> <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/ing-update-current-name">Ingredient</a> </h2>
                    
                </div>
            </div>

        </li> <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">


            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content" style="display: block">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"> <a class="nhsuk-card__link" href="/update-redesign/sup-update-current-name">Supplier</a> </h2>
                   
                </div>
            </div>

        </li>
    </ul>

{% endblock %}