{% extends "undo-changes/base2.html" %}

{% block breadcrumb %}
<div class="nhsuk-width-container-fluid">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="/undo-changes/amp">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
          </svg>
          Go back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full" id="content-pane">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <span class="nhsuk-caption-l" id="update-attributes-sub-heading">Change summary</span>
        <span class="nhsuk-u-visually-hidden"> - </span>
        <h1 class="nhsuk-heading-xl" id="update-attributes-heading">Atenolol 100mg tablets (Actavis UK Ltd)</h1>

      </div>
    </div>



    <form method="post">
      <input name="_csrf"
        value="FzX1aHTG5M154I8LC5-_Wgtoi1cUgG8AlXpf3kfvA3-Kp3xPJwzGDk2j0PRU0-loOLKLY2lbpjVw5lstoE465neJMxu8lU8s"
        type="hidden">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <section class="nhsuk-u-padding-bottom-4" id="updateAttribute-summary-section">


            <h2 class="nhsuk-heading-m" id="update-attributes-summary-table-heading">Changes made: 28-07-2025
              , 10:16 AM by HEKIR [undo]</h2>

            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table" role="table" id="update-attributes-summary-table">
                <thead class="nhsuk-table__head" id="attributes-table-head" role="rowgroup">
                  <tr role="row" id="updateAttribute-table-summary-table-head-row">

                    <th class="nhsuk-table__header-identifier columnheader-sticky"
                      id="updateAttribute-table--tag-header" role="columnheader" scope="col" style="width: 10px;">
                      <span class="nhsuk-u-visually-hidden">Indicator</span>
                    </th>

                    <th class="columnheader-sticky" id="updateAttribute-table-summary--name-header" role="columnheader"
                      scope="col">
                      <label for="updateAttribute-table--name-filter-input"
                        id="updateAttribute-table--name-header-span">
                        Attribute name
                        <svg id="updateAttribute-table--name-header-search-icon"
                          style="height: 1.1875rem; width: 1.1875rem;" class="nhsuk-icon nhsuk-icon__search"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                          <path
                            d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                          </path>
                        </svg>
                        <br>
                      </label>
                      <input class="updateAttribute-table--name-filter-input-hidden"
                        id="updateAttribute-table--name-filter-input" type="text">
                    </th>
                    <th class="columnheader-sticky" id="updateAttribute-table-summary--description-header"
                      role="columnheader" scope="col">
                      Value
                    </th>
                    <th class="columnheader-sticky start-end-date-column"
                      id="updateAttribute-table-summary--start-date-header" role="columnheader" scope="col">
                      Start date
                    </th>
                    <th class="columnheader-sticky start-end-date-column"
                      id="updateAttribute-table-summary--end-date-header" role="columnheader" scope="col">
                      End date
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">

                  <tr class="nhsuk-table__row temporal-current temporal-current" role="row"
                    id="updateAttribute-table-summary-body-row-0">





                    <td class="nhsuk-table__cell-historic" role="cell"
                      id="updateAttribute-table-summary-body-indicator-cell-0">
                      <span class="nhsuk-table-responsive__heading">Indicator </span>
                      <span id="updateAttribute-table--availability-restrictions-updateAttribute-tag-value-current-0">





                        <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Current</span>




                      </span>
                    </td>

                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-name-0">
                      <span class="nhsuk-table-responsive__heading">Attribute name </span>
                      <span id="updateAttribute-table--updateAttribute-description-0">Availability Restrictions</span>
                    </td>
                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-value-0">
                      <span class="nhsuk-table-responsive__heading">Value </span>
                      <span id="updateAttribute-table--updateAttribute-value-0">None</span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-start-date-0">
                      <span class="nhsuk-table-responsive__heading">Start date</span>
                      <span id="updateAttribute-table--updateAttribute-start-date-0">04-02-2020</span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-end-date-0">
                      <span class="nhsuk-table-responsive__heading">End date</span>
                      <span id="updateAttribute-table--updateAttribute-end-date-0">01-02-3456</span>
                    </td>
                  </tr>



                  <tr class="nhsuk-table__row temporal-current temporal-current" role="row"
                    id="updateAttribute-table-summary-body-row-2">



                    <td class="nhsuk-table__cell-historic" role="cell"
                      id="updateAttribute-table-summary-body-indicator-cell-2">
                      <span class="nhsuk-table-responsive__heading">Indicator </span>
                      <span id="updateAttribute-table--licensing-authority-updateAttribute-tag-value-current-2">





                        <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Current</span>




                      </span>
                    </td>

                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-name-2">
                      <span class="nhsuk-table-responsive__heading">Attribute name </span>
                      <span id="updateAttribute-table--updateAttribute-description-2">Licensing Authority</span>
                    </td>
                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-value-2">
                      <span class="nhsuk-table-responsive__heading">Value </span>
                      <span id="updateAttribute-table--updateAttribute-value-2">Devices</span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-start-date-2">
                      <span class="nhsuk-table-responsive__heading">Start date</span>
                      <span id="updateAttribute-table--updateAttribute-start-date-2">01-01-1948</span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-end-date-2">
                      <span class="nhsuk-table-responsive__heading">End date</span>
                      <span id="updateAttribute-table--updateAttribute-end-date-2">01-02-3456</span>
                    </td>
                  </tr>


                  <tr class="nhsuk-table__row temporal-current temporal-current" role="row"
                    id="updateAttribute-table-summary-body-row-4">



                    <td class="nhsuk-table__cell-historic" role="cell"
                      id="updateAttribute-table-summary-body-indicator-cell-4">
                      <span class="nhsuk-table-responsive__heading">Indicator </span>
                      <span
                        id="updateAttribute-table--licensing-authority-change-reason-updateAttribute-tag-value-current-4">





                        <span class="nhsuk-u-visually-hidden nhsuk-table__cell-historic">Current</span>




                      </span>
                    </td>

                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-name-4">
                      <span class="nhsuk-table-responsive__heading">Attribute name </span>
                      <span id="updateAttribute-table--updateAttribute-description-4">Licensing Authority Change
                        Reason</span>
                    </td>
                    <td class="nhsuk-table__cell" role="cell"
                      id="updateAttribute-table-summary-body-cell-attribute-value-4">
                      <span class="nhsuk-table-responsive__heading">Value </span>
                      <span id="updateAttribute-table--updateAttribute-value-4"> </span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-start-date-4">
                      <span class="nhsuk-table-responsive__heading">Start date</span>
                      <span id="updateAttribute-table--updateAttribute-start-date-4"> </span>
                    </td>

                    <td class="nhsuk-table__cell nhsuk-u--table-date-width"
                      id="updateAttribute-table-summary-body-cell-attribute-end-date-4">
                      <span class="nhsuk-table-responsive__heading">End date</span>
                      <span id="updateAttribute-table--updateAttribute-end-date-4"> </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </section>
        </div>
      </div>
<!-- 
      <a class="nhsuk-button nhsuk-u-margin-right-2" id="submit" href="/undo-changes/amp-warning">Undo selected
        changes</button>

      <a class="nhsuk-button nhsuk-button--secondary-solid nhsuk-u-margin-left-2" href="/undo-changes/amp" id="cancel"  >Cancel and go
        back</a> -->

    </form>
  </div>
</div>
{% endblock %}