{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">TCE-650</h1>
    <h2>Insert VTM</h2>
    <ul>
      <li><a href="/tce-650/name-details">Name details</a></li>
      <li><a href="/tce-650/mandatory-attributes">Mandatory attributes</a></li>
      <li><a href="/tce-650/associated-vmp">VMP associations</a></li>
      <li><a href="/tce-650/non-mandatory-attributes">Non mandatory attributes</a></li>
      <li><a href="/tce-650/summary">Summary</a></li>
    </ul>
  </div>
</div>
{% endblock %}