{% extends "trade-families/base.html" %}
{% block breadcrumb %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="tfg-table-view">Trade
                    family
                    groups</a></li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div id="content-pane" class="side-tree-view">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" href="view-tfg">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                            <path
                                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                            </path>
                        </svg>
                        Go back</a>
                </div>

                <span class="nhsuk-caption-l">Update summary details</span>
                <h1 class="nhsuk-heading-xl">Primary Wound</h1>

                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            01 February 2025
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a class="nhsuk-link--no-visited-state" href="update-tfg-date?dateType=start">
                                Change<span class="nhsuk-u-visually-hidden"> start date</span>
                            </a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            01 February 3456
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a class="nhsuk-link--no-visited-state" href="update-tfg-date?dateType=end&day=01&month=02&year=3456">
                                Change<span class="nhsuk-u-visually-hidden"> end date</span>
                            </a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Extractable status
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true"
                                id="pi-value-0">
                                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                                </path>
                            </svg>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a class="nhsuk-link--no-visited-state" href="update-tfg-status?statusName=extractable&option1=Extractable&option2=Unextractable">
                                Change<span class="nhsuk-u-visually-hidden"> extractable status</span>
                            </a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Validation status
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-green"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true"
                                id="pi-value-0">
                                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                                </path>
                            </svg>
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a class="nhsuk-link--no-visited-state" href="update-tfg-status?statusName=validation&option1=Valid&option2=Invalid">
                                Change<span class="nhsuk-u-visually-hidden"> validation status</span>
                            </a>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            SNOMED
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            6614511000001108
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            N/A
                        </dd>
                    </div>
                </dl>

                <a class="nhsuk-button" href="view-tfg">Update</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}