{% extends "trade-families/base.html" %}
{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="view-tfg#linked">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back to view trade familiy group</a>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <span class="nhsuk-caption-l">Effective date</span>
        <h1 class="nhsuk-heading-xl">Update linked trade families</h1>
    </div>
</div>

<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
        <div id="effective-dates-container" style="display: flex; gap: 32px; align-items: flex-end;">
            <div id="start-date-container">
                <h2 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--l" for="start-date">
                        Start date
                    </label>
                </h2>
                <div id="start-date" class="nhsuk-date-input">
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="start-date-day">
                                Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-date-day"
                                name="startDate[day]" value="01" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="start-date-month">
                                Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                id="start-date-month" name="startDate[month]" value="01" type="text"
                                inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="start-date-year">
                                Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-date-year"
                                name="startDate[year]" value="0000" type="text" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </div>

            <div id="end-date-container" style="align-content: flex-end;">
                <h2 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--l" for="end-date">
                        End date
                    </label>
                </h2>
                <div id="end-date" class="nhsuk-date-input">
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="end-date-day">
                                Day
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-date-day"
                                name="endDate[day]" value="01" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="end-date-month">
                                Month
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-date-month"
                                name="endDate[month]" value="02" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label" for="end-date-year">
                                Year
                            </label>
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="end-date-year"
                                name="endDate[year]" value="3456" type="text" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button" id="submit-button" href="tf-search">Continue</a>
    </div>
</div>

<script>
    const dayInput = document.getElementById('start-date-day');
    const monthInput = document.getElementById('start-date-month');
    const yearInput = document.getElementById('start-date-year');

    const currentDate = new Date();
    dayInput.value = currentDate.getDate();
    monthInput.value = currentDate.getMonth() + 1;
    yearInput.value = currentDate.getFullYear();
</script>

{% endblock %}