{% extends "base.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="insert-update-supplier.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
      <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to Update suppliers </span></a>
</div>
<div>
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
      <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                User defined query
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Confirm your changes
      </h1>
    </legend>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Confirmation required
    </span>
      </h3>
      <p> Please check the details are correct before continuing.</p>
    </div>


    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">Inserted new supplier name</h3>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Inserted new Supplier name </caption>
        <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-table__header">Supplier name</th>
          <th scope="col" class="nhsuk-table__header">Start date</th>
          <th scope="col" class="nhsuk-table__header">End date</th>
          <th scope="col" class="nhsuk-table__header">Action</th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Bristol Laboratories Ltd</td>
          <td class="nhsuk-table__cell start-date"></td>
          <td class="nhsuk-table__cell end-date"></td>
          <td class="nhsuk-table__cell">
            <a href="insert-update-supplier.html">
              Edit<span class="nhsuk-u-visually-hidden"> Supplier details</span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m" id="supplier-confirmation">
              Do you want to save this change?
            </legend>

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example-1" type="radio"
                       value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Yes – save this change
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example-2" type="radio"
                       value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  No – do not save this change
                </label>
              </div>
            </div>
          </fieldset>
        </div>

    <button class="nhsuk-button" type="button" onclick="handleSaveAndContinue()">
      Continue
    </button>

    <!--    <button class="nhsuk-button" onclick="handleSaveAndContinue()">Continue</button>-->


        <script>
          function handleSaveAndContinue() {

            const yesOption = document.getElementById('example-1');
            const noOption = document.getElementById('example-2');


            if (yesOption.checked) {
              window.location.href = 'new-supplier-name-last-page.html';
            } else if (noOption.checked) {
              window.location.href = 'update-supplier-prototype.html';
            }

          }

      document.addEventListener("DOMContentLoaded", function () {
        // --- Get today's date ---
        const today = new Date();
        const options = { day: '2-digit', month: 'long', year: 'numeric' };
        const startDateFormatted = today.toLocaleDateString('en-GB', options); // e.g., "30 October 2025"

        // --- Set fixed EOT date ---
        const endDateFormatted = "EOT ";

        // --- Insert into the table ---
        const startDateCells = document.querySelectorAll('.start-date');
        const endDateCells = document.querySelectorAll('.end-date');

        startDateCells.forEach(cell => cell.textContent = startDateFormatted);
        endDateCells.forEach(cell => cell.textContent = endDateFormatted);
      });
    </script>


    {% endblock %}