{% extends "base-large.html" %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="update-supplier-prototype.html">
<!--    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"-->
<!--         viewBox="0 0 24 24"-->
<!--         aria-hidden="true" height="24" width="24">-->
<!--      <path-->
<!--          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>-->
<!--    </svg>-->
  </a>
</div>
<div>
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
      <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Update attributes summary
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        AS Saliva Orthane spray refill(CCMed Ltd)-500ml
      </h1>
    </legend>
  </fieldset>
</div>
<div class="nhsuk-do-dont-list">
  <h3 class="nhsuk-do-dont-list__label"> Reimbursement & Drug tariff dates</h3>
  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Reimbursement date
      </dt>
      <dd class="nhsuk-summary-list__value">
        October 2025
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Drug tariff date
      </dt>
      <dd class="nhsuk-summary-list__value">
        October 2025
      </dd>
    </div>
  </dl>
</div>


<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Attribute details</caption>
  <thead class="nhsuk-table__head">
  <tr>
    <th scope="col" class="nhsuk-table__header"></th>
    <th scope="col" class="nhsuk-table__header">Attribute name</th>
    <th scope="col" class="nhsuk-table__header">Value</th>
    <th scope="col" class="nhsuk-table__header">Start date</th>
    <th scope="col" class="nhsuk-table__header">End date </th>
    <th scope="col" class="nhsuk-table__header">Action</th>
  </tr>
  </thead>
  <tbody class="nhsuk-table__body">
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Price</td>
    <td class="nhsuk-table__cell">0</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Price</td>
    <td class="nhsuk-table__cell">3427</td>
    <td class="nhsuk-table__cell">01-12-2014</td>
    <td class="nhsuk-table__cell">28-10-2025</td>
    <td class="nhsuk-table__cell">
      <a href="choose-overwrite.html" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Price basis</td>
    <td class="nhsuk-table__cell">No price available</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>

  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Price basis</td>
    <td class="nhsuk-table__cell">NHS indicative price</td>
    <td class="nhsuk-table__cell">01-12-2014</td>
    <td class="nhsuk-table__cell">28-10-2025</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Reimbursement status </td>
    <td class="nhsuk-table__cell">Not allowed ( not in drug tariff)</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Reimbursement status </td>
    <td class="nhsuk-table__cell">Allowed (in drug tariff)</td>
    <td class="nhsuk-table__cell">01-12-2014</td>
    <td class="nhsuk-table__cell">28-10-2025</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Discontinued indicator</td>
    <td class="nhsuk-table__cell">Discontinued flag</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Reimbursement price</td>
    <td class="nhsuk-table__cell">3427</td>
    <td class="nhsuk-table__cell">01-12-2014</td>
    <td class="nhsuk-table__cell">30-09-2025</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Nurse formulary indicator</td>
    <td class="nhsuk-table__cell">Nurse formulary</td>
    <td class="nhsuk-table__cell">01-12-2014</td>
    <td class="nhsuk-table__cell">30-09-2025</td>
    <td class="nhsuk-table__cell">
      <a href="choose-overwrite.html" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Unrounded price</td>
    <td class="nhsuk-table__cell">0</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Unrounded price</td>
    <td class="nhsuk-table__cell">3427</td>
    <td class="nhsuk-table__cell">14-06-2022</td>
    <td class="nhsuk-table__cell">28-10-2025</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"></td>
    <td class="nhsuk-table__cell">Part IX price update GDP value</td>
    <td class="nhsuk-table__cell">-1</td>
    <td class="nhsuk-table__cell">29-10-2025</td>
    <td class="nhsuk-table__cell">01-02-3456</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>
  <tr class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">
      H
    </strong></td>
    <td class="nhsuk-table__cell">Part IX price update GDP value</td>
    <td class="nhsuk-table__cell">2.41</td>
    <td class="nhsuk-table__cell">14-06-2022</td>
    <td class="nhsuk-table__cell">28-10-2025</td>
    <td class="nhsuk-table__cell">
      <a href="#" class="nhsuk-link">Edit</a>
    </td>
  </tr>

  </tbody>
</table>






  <a href="#" class="nhsuk-button" type="submit">
    Save and finish
  </a>
<!--  <button class="nhsuk-button nhsuk-button&#45;&#45;secondary" data-module="nhsuk-button" type="submit">-->
<!--    Undo changes-->
<!--  </button>-->

</div>
{% endblock %}