{% extends "base.html" %}
{% block content %}
<div class="nhsuk-width-container">
    <main id="maincontent" role="main" class="nhsuk-main-wrapper">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl" id="pageHeading">
                    <span class="nhsuk-caption-l">VTM Ingredients</span>
                    <span class="nhsuk-u-visually-hidden"> - </span>
                    <span id="full-product-name">
                        <span id="product-name">Aspirin + Paracetamol</span>
                    </span>
                </h1>
            </div>
        </div>

        <div class="nhsuk-grid-row">


            <div class="nhsuk-grid-column-two-thirds">




                <div>
                    <section id="ingredients">
                        <h2 class="nhsuk-heading-l">Ingredient details</h2>
                        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
                        
                            <thead role="rowgroup" class="nhsuk-table__head">
                              <tr role="row">
                                <th role="columnheader" class="" scope="col">
                                  Name
                                </th>
                                <th role="columnheader" class="" scope="col">
                                  Discontinued
                                </th>
                              </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Cocaina</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" style="color: red;" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Aspirin + Paracetamol</td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Banana</td>
                                <td class="nhsuk-table__cell " > 
                                  </td>
                              </tr>

                            </tbody>
                          </table>
                    


                    </section>
                </div>

            </div>
        </div>

    </main>
</div>
{% endblock %}