{% extends "base.html" %}
{% block content %}
<div class="nhsuk-width-container">
    <main id="maincontent" role="main" class="nhsuk-main-wrapper">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl" id="pageHeading">
                    <span class="nhsuk-caption-l">Virtual Therapeutic Moiety (VTM)</span>
                    <span class="nhsuk-u-visually-hidden"> - </span>
                    <span id="full-product-name">
                        <span id="product-name">Aspirin + Paracetamol</span>
                    </span>
                </h1>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter nhsuk-u-position-sticky" style="top: 17px">

                <h2 class="nhsuk-heading-l nhsuk-u-visually-hidden">Navigation</h2>
                <ul class="nhsuk-list">
                    <li><a href="#nameDetails">Name Details</a></li>
                    <li><a href="#ingredients">Ingredients details</a></li>
                    <li><a href="#productCodes">Codes</a></li>
                    <li><a href="#vtmVmps">Virtual Medicinal Products (VMPs)</a></li>
                    <li><a href="#productLinks">Further Links</a></li>
                </ul>

            </div>

            <div class="nhsuk-grid-column-three-quarters">


                <div>
                    <section id="nameDetails">
                        <h2 class="nhsuk-heading-l">Name Details</h2>

                        <div class="nhsuk-table-responsive">
                            <table class="nhsuk-table">
                                <thead class="nhsuk-table__head">
                                    <tr class="nhsuk-table__row">
                                        <th class="nhsuk-table__header nhsuk-table__header--sticky" colspan="2">Name
                                        </th>
                                        <th class="nhsuk-table__header nhsuk-table__header--sticky nhsuk-u-date-width"
                                            id="name-start-date-heading" scope="col">Start Date</th>
                                        <th class="nhsuk-table__header nhsuk-table__header--sticky nhsuk-u-date-width"
                                            id="name-end-date-heading" scope="col">End Date</th>
                                    </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">

                                    <tr class="nhsuk-table__row">
                                        <th class="nhsuk-table__header">Name</th>
                                        <td id="name-value" class="nhsuk-table__cell">
                                            <span class="nhsuk-table-responsive__heading">Current Name</span>
                                            Diclofenac + Caffeine + Tramadol + Aspirin
                                        </td>
                                        <td id="name-start-date" class="nhsuk-table__cell nhsuk-u--table-date-width">
                                            <span class="nhsuk-table-responsive__heading" id="name-heading">Start
                                                Date</span>
                                            17-01-2006
                                        </td>
                                        <td id="name-end-date" class="nhsuk-table__cell nhsuk-u--table-date-width">
                                            <span class="nhsuk-table-responsive__heading">End Date</span>
                                        </td>
                                    </tr>






                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

                <div>
                    <section id="ingredients">
                        <h2 class="nhsuk-heading-l">Ingredient details</h2>
                        <table class="nhsuk-table">
                        
                            <thead role="rowgroup" class="nhsuk-table__head">
                              <tr role="row">
                                <th role="columnheader" class="" scope="col">
                                  Name
                                </th>
                                <th role="columnheader" class="" scope="col">
                                  Invalid
                                </th>
                              </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell"><a href="/tce-2226/ingredient">Aspirin</a></td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell"><a href="/tce-2226/ingredient3">Caffeine</a></td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <!--tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell">Caffeine</td>
                                <td class="nhsuk-table__cell " ><svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                  </svg></td>
                              </tr-->
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell"><a href="/tce-2226/ingredient2">Paracetamol</a></td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                              <tr role="row" class="nhsuk-table__row">
                                <td class="nhsuk-table__cell"><a href="/tce-2226/ingredient4">Tramadol</a></td>
                                <td class="nhsuk-table__cell "> </td>
                              </tr>
                            </tbody>
                          </table>


                    </section>
                </div>

                <section class="nhsuk-table-responsive" id="productCodes">
                    <h2 class="nhsuk-heading-l">Codes</h2>
                    <h3 class="nhsuk-heading-m">SNOMED Code</h3>
                    <table id="vtmSnomedCodeTable" class="nhsuk-table">
                        <caption class="nhsuk-u-visually-hidden">VTM SNOMED code history</caption>

                        <thead class="nhsuk-table__head">
                            <tr class="nhsuk-table__row">
                                <th class="nhsuk-table__header" id="vtmSnomedCodeTableCodeHeader" scope="col">Code</th>
                                <th class="nhsuk-table__header" id="vtmSnomedCodeTableStartDateHeader" scope="col">Start
                                    date</th>
                                <th class="nhsuk-table__header" id="vtmSnomedCodeTableEndDateHeader" scope="col">End
                                    date</th>
                            </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-0">
                                    <span class="nhsuk-table-responsive__heading">Current SNOMED Code</span>
                                    <span class="js-copy-to-clipboard"
                                        data-code-type-description="SNOMED code">774679005
                                        <div aria-live="polite" class="nhsuk-u-visually-hidden">
                                            <p id="live-text-0"></p>
                                        </div>
                                        <button id="copy-button-0" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                                            data-module="copy-button"
                                            style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"
                                            aria-description="Select this to copy SNOMED code 774679005 to the clipboard">
                                            <svg style="vertical-align:middle; height: 31px; width:31px"
                                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                aria-hidden="true">
                                                <title>Select this to copy SNOMED code 774679005 to the clipboard
                                                </title>
                                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <line x1="8" y1="12" x2="13" y2="12"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="14" x2="13" y2="14"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="16" x2="13" y2="16"
                                                    style="stroke:black;stroke-width:1"></line>
                                            </svg>
                                        </button>
                                    </span>
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-0-start-date">
                                    <span class="nhsuk-table-responsive__heading">Start Date</span>
                                    06-02-2023
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-0-end-date">
                                    <span class="nhsuk-table-responsive__heading">End Date</span>

                                </td>
                            </tr>
                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-1">
                                    <span class="nhsuk-table-responsive__heading">Current SNOMED Code</span>
                                    <span class="js-copy-to-clipboard"
                                        data-code-type-description="SNOMED code">424102008
                                        <div aria-live="polite" class="nhsuk-u-visually-hidden">
                                            <p id="live-text-1"></p>
                                        </div>
                                        <button id="copy-button-1" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                                            data-module="copy-button"
                                            style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"
                                            aria-description="Select this to copy SNOMED code 424102008 to the clipboard">
                                            <svg style="vertical-align:middle; height: 31px; width:31px"
                                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                aria-hidden="true">
                                                <title>Select this to copy SNOMED code 424102008 to the clipboard
                                                </title>
                                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <line x1="8" y1="12" x2="13" y2="12"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="14" x2="13" y2="14"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="16" x2="13" y2="16"
                                                    style="stroke:black;stroke-width:1"></line>
                                            </svg>
                                        </button>
                                    </span>
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-1-start-date">
                                    <span class="nhsuk-table-responsive__heading">Start Date</span>
                                    25-06-2007
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-1-end-date">
                                    <span class="nhsuk-table-responsive__heading">End Date</span>
                                    05-02-2023
                                </td>
                            </tr>
                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-2">
                                    <span class="nhsuk-table-responsive__heading">Current SNOMED Code</span>
                                    <span class="js-copy-to-clipboard"
                                        data-code-type-description="SNOMED code">9898111000001105
                                        <div aria-live="polite" class="nhsuk-u-visually-hidden">
                                            <p id="live-text-2"></p>
                                        </div>
                                        <button id="copy-button-2" class="nhsuk-u-margin-left-2 nhsuk-u-margin-right-2"
                                            data-module="copy-button"
                                            style="cursor: pointer; border:none; background-color:transparent; vertical-align:middle; padding: 0 4px 0 0;"
                                            aria-description="Select this to copy SNOMED code 9898111000001105 to the clipboard">
                                            <svg style="vertical-align:middle; height: 31px; width:31px"
                                                class="nhsuk-icon nhsuk-icon__tick nhsuk-u-inline-svg"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                aria-hidden="true">
                                                <title>Select this to copy SNOMED code 9898111000001105 to the clipboard
                                                </title>
                                                <rect x="9" y="5" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <rect x="6" y="8" rx="1" ry="1" width="9" height="11"
                                                    style="fill:white;stroke:black; stroke-width:1;opacity:1"></rect>
                                                <line x1="8" y1="12" x2="13" y2="12"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="14" x2="13" y2="14"
                                                    style="stroke:black;stroke-width:1"></line>
                                                <line x1="8" y1="16" x2="13" y2="16"
                                                    style="stroke:black;stroke-width:1"></line>
                                            </svg>
                                        </button>
                                    </span>
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-2-start-date">
                                    <span class="nhsuk-table-responsive__heading">Start Date</span>
                                    17-01-2006
                                </td>
                                <td class="nhsuk-table__cell" id="vtm-snomed-code-table-2-end-date">
                                    <span class="nhsuk-table-responsive__heading">End Date</span>
                                    24-06-2007
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="" id="vtmVmps">
                    <h2 class="nhsuk-heading-l">Virtual Medicinal Products (VMPs)</h2>

                    <div class="nhsuk-body-m flex--space-between">
                        <div class="nhsuk-u-visually-hidden">Currently viewing </div>
                        <div id="pageAndResultCount">Page 1 of 1 - 1 total results</div>
                        <div class="nhsuk-u-text-align--right">
                            <!--   TODO Setup formData parameter handling   -->

                            <div>
                                <span>Page size:</span>
                                <span class="nhsuk-u-font-weight-bold">20</span>


                                <a
                                    href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/1539?ref=YW1wTmFtZT1hc3BpcmluJnNlYXJjaFR5cGU9VlRNJnNob3dJbnZhbGlkSXRlbXM9ZmFsc2UmaGlkZVBhcmFsbGVsSW1wb3J0PWZhbHNlJmhpZGVTcGVjaWFsT3JkZXI9ZmFsc2UmaGlkZURpc2NvbnRpbnVlZEl0ZW1zPWZhbHNl&amp;size=50">50</a>

                                <a
                                    href="http://dmd-browser.nhsbsa.nhs.uk/vtm/view/1539?ref=YW1wTmFtZT1hc3BpcmluJnNlYXJjaFR5cGU9VlRNJnNob3dJbnZhbGlkSXRlbXM9ZmFsc2UmaGlkZVBhcmFsbGVsSW1wb3J0PWZhbHNlJmhpZGVTcGVjaWFsT3JkZXI9ZmFsc2UmaGlkZURpc2NvbnRpbnVlZEl0ZW1zPWZhbHNl&amp;size=100">100</a>
                            </div>
                        </div>
                    </div>


                    <table id="productIngredientTable" class="nhsuk-table accessible-table--hidden">
                        <caption class="nhsuk-u-visually-hidden">VMPs for VTM</caption>
                        <thead class="nhsuk-table__head">
                            <tr class="nhsuk-table__row">
                                <th class="nhsuk-table__header--sticky" scope="col">Name</th>
                                <th class="nhsuk-table__header--sticky" scope="col">Discontinued</th>
                                <th class="nhsuk-table__header--sticky" scope="col">Invalid</th>
                            </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                            <tr class="nhsuk-table__row">
                                <td class="nhsuk-table__cell"><a id="vtmVmp0"
                                        href="/vmp/view/5975?ref=YW1wTmFtZT1hc3BpcmluJnNlYXJjaFR5cGU9VlRNJnNob3dJbnZhbGlkSXRlbXM9ZmFsc2UmaGlkZVBhcmFsbGVsSW1wb3J0PWZhbHNlJmhpZGVTcGVjaWFsT3JkZXI9ZmFsc2UmaGlkZURpc2NvbnRpbnVlZEl0ZW1zPWZhbHNl">Aspirin
                                        300mg / Paracetamol 200mg dispersible tablets sugar free</a></td>
                                <td class="nhsuk-table__cell" style="text-align: center;">
                                    <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red"
                                        fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12">
                                        </path>
                                    </svg>
                                </td>
                                <td class="nhsuk-table__cell" style="text-align: center;">

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="accessible-table" hidden="">
                        <div>
                            <h2 class="nhsuk-heading-s">Name</h2>

                            <p>
                                <a id="vmpmobile0"
                                    href="/vmp/view/5975?ref=ampName%3Daspirin%26searchType%3DVTM%26showInvalidItems%3Dfalse%26hideParallelImport%3Dfalse%26hideSpecialOrder%3Dfalse%26hideDiscontinuedItems%3Dfalse">
                                    <span class="nhsuk-u-visually-hidden">null </span>
                                    <span>Aspirin 300mg / Paracetamol 200mg dispersible tablets sugar free</span>
                                </a>
                            </p>
                            <h3 class="nhsuk-heading-s">Discontinued</h3>

                            <p id="vmpDiscontinuedmobile0">
                                <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-icon__tick-red nhsuk-u-float-left"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    aria-hidden="true">
                                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                </svg>
                            </p>

                            <h3 class="nhsuk-heading-s">Invalid</h3>
                            <p id="vmpInvalidmobile0">Not Invalid</p>

                            <hr aria-hidden="true">
                        </div>
                    </div>


                </section>

                <section class="" id="productLinks">
                    <h2 class="nhsuk-heading-l">Further Links</h2>
                    <ul class="nhsuk-list" id="productLinksList">
                        <li><a target="_blank"
                                href="https://termbrowser.nhs.uk/?perspective=full&amp;conceptId1=774679005">View on the
                                NHS Digital SNOMED CT browser</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </main>
</div>
{% endblock %}